Repository googleapis/repo-automation-bots, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/github-automation, @sofisl, @bcoe, @chingor13

use semver.lt vs. semver.comapre
  packages/auto-approve/src/utils-for-pr-checking.ts
Owners: @googleapis/github-automation

update schema
  packages/auto-label/src/config-schema.json
Owners: @googleapis/github-automation

add to schema
  packages/auto-label/src/config-schema.json
Owners: @googleapis/github-automation

Update config-schema.json
  packages/auto-label/src/config-schema.json
Owners: @googleapis/github-automation

Update config-schema.json
  packages/auto-label/src/config-schema.json
Owners: @googleapis/github-automation

fix(auto-label): add multiple label paths for config (#5025)
  packages/auto-label/README.md
  packages/auto-label/src/config-schema.json
  packages/auto-label/test/config-compatibility.ts
  packages/auto-label/test/fixtures/config/valid-config-multiple-paths.yml
Owners: @googleapis/github-automation, @sofisl

test: add failing test for working on archived/disabled repositories
  packages/release-please/.eslintrc.json
  packages/release-please/test/fixtures/pull_request_labeled_archived.json
  packages/release-please/test/fixtures/pull_request_labeled_disabled.json
  packages/release-please/test/fixtures/push_to_main_archived.json
  packages/release-please/test/fixtures/push_to_main_disabled.json
  packages/release-please/test/release-please.ts
Owners: @googleapis/github-automation, @bcoe, @chingor13

fix(snippet-bot): provide installation id for global cron (#5023)
  packages/snippet-bot/cron.yaml
  packages/snippet-bot/src/snippet-bot.ts
Owners: @googleapis/github-automation

fix(auto-approve): allow Python major dependency updates (#4998)
  packages/auto-approve/README.md
  packages/auto-approve/package-lock.json
  packages/auto-approve/package.json
  packages/auto-approve/src/process-checks/python/dependency.ts
  packages/auto-approve/src/utils-for-pr-checking.ts
  packages/auto-approve/test/python-dependency.test.ts
Owners: @googleapis/github-automation

fix: skip running release-please on archived/disabled repositories
  packages/release-please/src/release-please.ts
Owners: @googleapis/github-automation

feat: Adding DEE Asset labels
  packages/label-sync/src/labels.json
Owners: @googleapis/github-automation

feat: validate command scans directory for all configs
  packages/owl-bot/src/bin/commands/validate.ts
Owners: @googleapis/github-automation

fix: skip running release-please on archived/disabled repositories (#5030)
  packages/release-please/.eslintrc.json
  packages/release-please/src/release-please.ts
  packages/release-please/test/fixtures/pull_request_labeled_archived.json
  packages/release-please/test/fixtures/pull_request_labeled_disabled.json
  packages/release-please/test/fixtures/push_to_main_archived.json
  packages/release-please/test/fixtures/push_to_main_disabled.json
  packages/release-please/test/release-please.ts
Owners: @googleapis/github-automation, @bcoe, @chingor13

feat: validate command scans directory for all configs (#5033)
  packages/owl-bot/src/bin/commands/validate.ts
Owners: @googleapis/github-automation

feat: validate configs after post processor runs
  packages/owl-bot/cloud-build/update-pr.yaml
Owners: @googleapis/github-automation

feat: add manual list of extra allowed api shortnames
  packages/repo-metadata-lint/src/validate.ts
Owners: @googleapis/github-automation

feat: validate configs after post processor runs (#5035)
  packages/owl-bot/cloud-build/update-pr.yaml
Owners: @googleapis/github-automation

feat: use combined DRIFT/api index product list
  packages/repo-metadata-lint/src/core.ts
  packages/repo-metadata-lint/src/validate.ts
Owners: @googleapis/github-automation

fix: pass list to Set constructor
  packages/repo-metadata-lint/.eslintrc.json
  packages/repo-metadata-lint/src/validate.ts
Owners: @googleapis/github-automation

feat: add manual list of extra allowed api shortnames (#5037)
  packages/repo-metadata-lint/.eslintrc.json
  packages/repo-metadata-lint/src/validate.ts
Owners: @googleapis/github-automation

deps: update releasetool to 1.12.0
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Owners: @googleapis/github-automation

deps: update releasetool to 1.12.0 (#5041)
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Owners: @googleapis/github-automation

save for now
  packages/auto-approve/src/check-pr-v2.ts
  packages/auto-approve/src/interfaces.ts
  packages/auto-approve/src/process-checks/base.ts
  packages/auto-approve/src/process-checks/discovery-doc-update.ts
  packages/auto-approve/src/process-checks/java/apiary-codegen.ts
  packages/auto-approve/src/process-checks/java/dependency.ts
  packages/auto-approve/src/process-checks/node/dependency.ts
  packages/auto-approve/src/process-checks/node/release.ts
  packages/auto-approve/src/process-checks/owl-bot-api-changes.ts
  packages/auto-approve/src/process-checks/owl-bot-template-changes.ts
  packages/auto-approve/src/process-checks/php/apiary-codegen.ts
  packages/auto-approve/src/process-checks/python/dependency.ts
  packages/auto-approve/src/process-checks/python/sample-dependency.ts
  packages/auto-approve/src/process-checks/regenerate-readme.ts
  packages/auto-approve/src/process-checks/update-discovery-artifacts.ts
  packages/auto-approve/test/additional-validation-for-versioning.test.ts
  packages/auto-approve/test/discovery-doc-update.test.ts
  packages/auto-approve/test/java-apiary-codegen.test.ts
  packages/auto-approve/test/java-dependency.test.ts
  packages/auto-approve/test/node-dependency.test.ts
  packages/auto-approve/test/node-release.test.ts
  packages/auto-approve/test/owlbot-api-changes.test.ts
  packages/auto-approve/test/owlbot-template-changes.test.ts
  packages/auto-approve/test/php-apairy-codegen.test.ts
  packages/auto-approve/test/python-dependency.test.ts
  packages/auto-approve/test/python-sample-dependency.test.ts
  packages/auto-approve/test/regenerate-readme.test.ts
  packages/auto-approve/test/update-discovery-artifacts.test.ts
Owners: @googleapis/github-automation

retry
  packages/auto-approve/test/discovery-doc-update.test.ts
  packages/auto-approve/test/java-apiary-codegen.test.ts
  packages/auto-approve/test/java-dependency.test.ts
  packages/auto-approve/test/node-dependency.test.ts
  packages/auto-approve/test/node-release.test.ts
  packages/auto-approve/test/owlbot-api-changes.test.ts
  packages/auto-approve/test/owlbot-template-changes.test.ts
  packages/auto-approve/test/php-apairy-codegen.test.ts
  packages/auto-approve/test/python-dependency.test.ts
  packages/auto-approve/test/python-sample-dependency.test.ts
  packages/auto-approve/test/regenerate-readme.test.ts
  packages/auto-approve/test/update-discovery-artifacts.test.ts
Owners: @googleapis/github-automation

Add comments and JS docs
  packages/auto-approve/src/process-checks/base.ts
  packages/auto-approve/src/process-checks/discovery-doc-update.ts
  packages/auto-approve/src/process-checks/java/apiary-codegen.ts
  packages/auto-approve/src/process-checks/java/dependency.ts
  packages/auto-approve/src/process-checks/node/dependency.ts
  packages/auto-approve/src/process-checks/node/release.ts
  packages/auto-approve/src/process-checks/owl-bot-api-changes.ts
  packages/auto-approve/src/process-checks/owl-bot-template-changes.ts
  packages/auto-approve/src/process-checks/php/apiary-codegen.ts
  packages/auto-approve/src/process-checks/python/dependency.ts
  packages/auto-approve/src/process-checks/python/sample-dependency.ts
  packages/auto-approve/src/process-checks/regenerate-readme.ts
  packages/auto-approve/src/process-checks/update-discovery-artifacts.ts
Owners: @googleapis/github-automation

deps: update releasetool to 1.13.0
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Owners: @googleapis/github-automation

deps: update releasetool to 1.13.0 (#5050)
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Owners: @googleapis/github-automation

refactor(auto-approve): create BaseLanguageRule, pass PR as an argument (#5047)
  packages/auto-approve/src/check-pr-v2.ts
  packages/auto-approve/src/interfaces.ts
  packages/auto-approve/src/process-checks/base.ts
  packages/auto-approve/src/process-checks/discovery-doc-update.ts
  packages/auto-approve/src/process-checks/java/apiary-codegen.ts
  packages/auto-approve/src/process-checks/java/dependency.ts
  packages/auto-approve/src/process-checks/node/dependency.ts
  packages/auto-approve/src/process-checks/node/release.ts
  packages/auto-approve/src/process-checks/owl-bot-api-changes.ts
  packages/auto-approve/src/process-checks/owl-bot-template-changes.ts
  packages/auto-approve/src/process-checks/php/apiary-codegen.ts
  packages/auto-approve/src/process-checks/python/dependency.ts
  packages/auto-approve/src/process-checks/python/sample-dependency.ts
  packages/auto-approve/src/process-checks/regenerate-readme.ts
  packages/auto-approve/src/process-checks/update-discovery-artifacts.ts
  packages/auto-approve/test/additional-validation-for-versioning.test.ts
  packages/auto-approve/test/discovery-doc-update.test.ts
  packages/auto-approve/test/java-apiary-codegen.test.ts
  packages/auto-approve/test/java-dependency.test.ts
  packages/auto-approve/test/node-dependency.test.ts
  packages/auto-approve/test/node-release.test.ts
  packages/auto-approve/test/owlbot-api-changes.test.ts
  packages/auto-approve/test/owlbot-template-changes.test.ts
  packages/auto-approve/test/php-apairy-codegen.test.ts
  packages/auto-approve/test/python-dependency.test.ts
  packages/auto-approve/test/python-sample-dependency.test.ts
  packages/auto-approve/test/regenerate-readme.test.ts
  packages/auto-approve/test/update-discovery-artifacts.test.ts
Owners: @googleapis/github-automation

feat(blunderbuss): assign_prs_always in config
  packages/blunderbuss/__snapshots__/blunderbuss.js
  packages/blunderbuss/src/config-schema.json
  packages/blunderbuss/src/config.ts
  packages/blunderbuss/src/utils.ts
  packages/blunderbuss/test/blunderbuss.ts
  packages/blunderbuss/test/fixtures/config/pr_on_always.yml
Owners: @googleapis/github-automation

feat: triggerWithoutPullRequest
  packages/release-trigger/README.md
  packages/release-trigger/src/bot.ts
  packages/release-trigger/src/config-constants.ts
  packages/release-trigger/src/config-schema.json
  packages/release-trigger/src/release-trigger.ts
  packages/release-trigger/test/release-trigger.ts
Owners: @googleapis/github-automation

chore: gcp-releasetool==1.14.0
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Owners: @googleapis/github-automation

save for now
  packages/auto-approve/package-lock.json
  packages/auto-approve/src/interfaces.ts
  packages/auto-approve/src/process-checks/sample-application-repos/dependency.ts
  packages/auto-approve/src/process-checks/sample-application-repos/docker-dependency.ts
  packages/auto-approve/src/process-checks/sample-application-repos/go-dependency.ts
  packages/auto-approve/src/utils-for-pr-checking.ts
Owners: @googleapis/github-automation

save for now
  packages/auto-approve/package-lock.json
  packages/auto-approve/src/interfaces.ts
  packages/auto-approve/src/process-checks/sample-application-repos/docker-dependency.ts
  packages/auto-approve/src/process-checks/sample-application-repos/go-dependency.ts
  packages/auto-approve/src/process-checks/sample-application-repos/python-dependency.ts
  packages/auto-approve/src/utils-for-pr-checking.ts
  packages/auto-approve/test/sample-app-docker-dependency.test.ts
  packages/auto-approve/test/sample-app-go-dependency.test.ts
  packages/auto-approve/test/sample-app-python-dependency.test.ts
Owners: @googleapis/github-automation

feat: triggerWithoutPullRequest (#5052)
  packages/release-trigger/README.md
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
  packages/release-trigger/src/bot.ts
  packages/release-trigger/src/config-constants.ts
  packages/release-trigger/src/config-schema.json
  packages/release-trigger/src/release-trigger.ts
  packages/release-trigger/test/release-trigger.ts
Owners: @googleapis/github-automation

add tests for extra utilities
  packages/auto-approve/src/process-checks/sample-application-repos/go-dependency.ts
  packages/auto-approve/src/process-checks/sample-application-repos/python-dependency.ts
  packages/auto-approve/src/utils-for-pr-checking.ts
  packages/auto-approve/test/additional-validation-for-versioning.test.ts
  packages/auto-approve/test/sample-app-docker-dependency.test.ts
  packages/auto-approve/test/sample-app-go-dependency.test.ts
  packages/auto-approve/test/sample-app-python-dependency.test.ts
Owners: @googleapis/github-automation

feat: add sample app repo processes
  packages/auto-approve/README.md
  packages/auto-approve/__snapshots__/auto-approve.test.js
  packages/auto-approve/__snapshots__/check-config.test.js
  packages/auto-approve/src/check-pr-v2.ts
  packages/auto-approve/src/process-checks/java/dependency.ts
  packages/auto-approve/src/process-checks/node/dependency.ts
  packages/auto-approve/src/process-checks/sample-application-repos/docker-dependency.ts
  packages/auto-approve/src/process-checks/sample-application-repos/go-dependency.ts
  packages/auto-approve/src/process-checks/sample-application-repos/python-dependency.ts
  packages/auto-approve/src/utils-for-pr-checking.ts
  packages/auto-approve/src/valid-pr-schema-v2.json
  packages/auto-approve/test/additional-validation-for-versioning.test.ts
  packages/auto-approve/test/fixtures/config/valid-schemasV2/valid-schema1.yml
Owners: @googleapis/github-automation

update headers
  packages/auto-approve/src/process-checks/sample-application-repos/python-dependency.ts
  packages/auto-approve/test/sample-app-docker-dependency.test.ts
  packages/auto-approve/test/sample-app-go-dependency.test.ts
  packages/auto-approve/test/sample-app-python-dependency.test.ts
Owners: @googleapis/github-automation

feat: add LOCAL_MODE option to bazel-bot's generate script
  packages/bazel-bot/docker-image/generate-googleapis-gen.sh
Owners: @googleapis/github-automation

address comments
  packages/auto-approve/__snapshots__/auto-approve.test.js
  packages/auto-approve/src/interfaces.ts
  packages/auto-approve/src/process-checks/node/dependency.ts
  packages/auto-approve/src/process-checks/sample-application-repos/docker-dependency.ts
  packages/auto-approve/src/process-checks/sample-application-repos/go-dependency.ts
  packages/auto-approve/src/utils-for-pr-checking.ts
  packages/auto-approve/test/additional-validation-for-versioning.test.ts
  packages/auto-approve/test/owlbot-template-changes.test.ts
Owners: @googleapis/github-automation

revert changes to Node
  packages/auto-approve/README.md
  packages/auto-approve/src/process-checks/node/dependency.ts
Owners: @googleapis/github-automation

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


*     @googleapis/github-automation

packages/auto-label/*                 @googleapis/github-automation @sofisl
packages/conventional-commit-lint/*   @googleapis/github-automation @bcoe
packages/generated-files-bot/*        @googleapis/github-automation @chingor13
packages/header-checker-lint/*        @googleapis/github-automation @chingor13
packages/merge-on-green/*             @googleapis/github-automation @sofisl
packages/monitoring-system/*          @googleapis/github-automation @chingor13
packages/release-please/*             @googleapis/github-automation @bcoe @chingor13

# The github automation team is the default owner for the auto-approve file.
.github/auto-approve.yml @googleapis/github-automation
