Repository googleapis/repo-automation-bots, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/github-automation, @sofisl, @bcoe, @chingor13

chore: update lock file for header-checker-lint
  packages/header-checker-lint/package-lock.json
Owners: @googleapis/github-automation, @chingor13

chore: update lock file for conventional-commit-lint
  packages/conventional-commit-lint/package-lock.json
Owners: @googleapis/github-automation, @bcoe

chore: update lock file for sync-repo-settings
  packages/sync-repo-settings/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for cron-utils
  packages/cron-utils/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for mono-repo-publish
  packages/mono-repo-publish/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for release-trigger
  packages/release-trigger/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for loadtest-bot
  packages/loadtest-bot/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for canary-bot
  packages/canary-bot/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for object-selector
  packages/object-selector/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for label-utils
  packages/label-utils/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for trusted-contribution
  packages/trusted-contribution/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for datastore-lock
  packages/datastore-lock/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for owl-bot
  packages/owl-bot/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for repo-metadata-lint
  packages/repo-metadata-lint/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for release-please
  packages/release-please/package-lock.json
Owners: @googleapis/github-automation, @bcoe, @chingor13

chore: update lock file for secret-rotator
  packages/secret-rotator/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for do-not-merge
  packages/do-not-merge/package-lock.json
Owners: @googleapis/github-automation

chore: update lock files (#5140)
  packages/auto-approve/package-lock.json
  packages/blunderbuss/package-lock.json
  packages/bot-config-utils/package-lock.json
  packages/canary-bot/package-lock.json
  packages/cherry-pick-bot/package-lock.json
  packages/conventional-commit-lint/package-lock.json
  packages/cron-utils/package-lock.json
  packages/datastore-lock/package-lock.json
  packages/do-not-merge/package-lock.json
  packages/gcf-utils/package-lock.json
  packages/generated-files-bot/package-lock.json
  packages/git-file-utils/package-lock.json
  packages/header-checker-lint/package-lock.json
  packages/issue-utils/package-lock.json
  packages/label-sync/package-lock.json
  packages/label-utils/package-lock.json
  packages/loadtest-bot/package-lock.json
  packages/mono-repo-publish/package-lock.json
  packages/object-selector/package-lock.json
  packages/owl-bot/package-lock.json
  packages/release-brancher/package-lock.json
  packages/release-please/package-lock.json
  packages/release-trigger/package-lock.json
  packages/repo-metadata-lint/package-lock.json
  packages/secret-rotator/package-lock.json
  packages/snippet-bot/package-lock.json
  packages/sync-repo-settings/package-lock.json
  packages/trusted-contribution/package-lock.json
Owners: @googleapis/github-automation, @bcoe, @chingor13

chore: update lock file for failurechecker (#5105)
  packages/failurechecker/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for auto-label (#5106)
  packages/auto-label/package-lock.json
Owners: @googleapis/github-automation, @sofisl

chore: update lock file for owlbot-bootstrapper/common-container (#5108)
  packages/owlbot-bootstrapper/common-container/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for owlbot-bootstrapper/app (#5109)
  packages/owlbot-bootstrapper/app/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for owlbot-bootstrapper/cli (#5107)
  packages/owlbot-bootstrapper/cli/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for merge-on-green (#5128)
  packages/merge-on-green/package-lock.json
Owners: @googleapis/github-automation, @sofisl

deps: update auto-approve deps
  packages/auto-approve/package-lock.json
Owners: @googleapis/github-automation

deps: update auto-label deps
  packages/auto-label/package-lock.json
Owners: @googleapis/github-automation, @sofisl

deps: update bazel-bot deps
  packages/bazel-bot/package-lock.json
Owners: @googleapis/github-automation

deps: update blunderbuss deps
  packages/blunderbuss/package-lock.json
Owners: @googleapis/github-automation

deps: update bot-config-utils deps
  packages/bot-config-utils/package-lock.json
Owners: @googleapis/github-automation

deps: update canary-bot deps
  packages/canary-bot/package-lock.json
Owners: @googleapis/github-automation

deps: update cherry-pick-bot deps
  packages/cherry-pick-bot/package-lock.json
Owners: @googleapis/github-automation

deps: update conventional-commit-lint deps
  packages/conventional-commit-lint/package-lock.json
Owners: @googleapis/github-automation, @bcoe

deps: update cron-utils deps
  packages/cron-utils/package-lock.json
Owners: @googleapis/github-automation

deps: update datastore-lock deps
  packages/datastore-lock/package-lock.json
Owners: @googleapis/github-automation

deps: update do-not-merge deps
  packages/do-not-merge/package-lock.json
Owners: @googleapis/github-automation

deps: update failurechecker deps
  packages/failurechecker/package-lock.json
Owners: @googleapis/github-automation

deps: update flakybot deps
  packages/flakybot/package-lock.json
Owners: @googleapis/github-automation

deps: update gcf-utils deps
  packages/gcf-utils/package-lock.json
Owners: @googleapis/github-automation

deps: update generate-bot deps
  packages/generate-bot/package-lock.json
Owners: @googleapis/github-automation

deps: update generated-files-bot deps
  packages/generated-files-bot/package-lock.json
Owners: @googleapis/github-automation, @chingor13

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


*     @googleapis/github-automation

packages/auto-label/*                 @googleapis/github-automation @sofisl
packages/conventional-commit-lint/*   @googleapis/github-automation @bcoe
packages/generated-files-bot/*        @googleapis/github-automation @chingor13
packages/header-checker-lint/*        @googleapis/github-automation @chingor13
packages/merge-on-green/*             @googleapis/github-automation @sofisl
packages/monitoring-system/*          @googleapis/github-automation @chingor13
packages/release-please/*             @googleapis/github-automation @bcoe @chingor13

# The github automation team is the default owner for the auto-approve file.
.github/auto-approve.yml @googleapis/github-automation
