Repository googleapis/repo-automation-bots, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/github-automation, @sofisl, @bcoe, @chingor13

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


*     @googleapis/github-automation

packages/auto-label/*                 @googleapis/github-automation @sofisl
packages/conventional-commit-lint/*   @googleapis/github-automation @bcoe
packages/generated-files-bot/*        @googleapis/github-automation @chingor13
packages/header-checker-lint/*        @googleapis/github-automation @chingor13
packages/merge-on-green/*             @googleapis/github-automation @sofisl
packages/monitoring-system/*          @googleapis/github-automation @chingor13
packages/release-please/*             @googleapis/github-automation @bcoe @chingor13

# The github automation team is the default owner for the auto-approve file.
.github/auto-approve.yml @googleapis/github-automation

deps: update git-file-utils deps
  packages/git-file-utils/package-lock.json
Owners: @googleapis/github-automation

deps: update header-checker-lint deps
  packages/header-checker-lint/package-lock.json
Owners: @googleapis/github-automation, @chingor13

deps: update issue-utils deps
  packages/issue-utils/package-lock.json
Owners: @googleapis/github-automation

deps: update label-sync deps
  packages/label-sync/package-lock.json
Owners: @googleapis/github-automation

deps: update label-utils deps
  packages/label-utils/package-lock.json
Owners: @googleapis/github-automation

deps: update loadtest-bot deps
  packages/loadtest-bot/package-lock.json
Owners: @googleapis/github-automation

deps: update merge-on-green deps
  packages/merge-on-green/package-lock.json
Owners: @googleapis/github-automation, @sofisl

deps: update mono-repo-publish deps
  packages/mono-repo-publish/package-lock.json
Owners: @googleapis/github-automation

deps: update object-selector deps
  packages/object-selector/package-lock.json
Owners: @googleapis/github-automation

deps: update owl-bot deps
  packages/owl-bot/package-lock.json
Owners: @googleapis/github-automation

deps: update policy deps
  packages/policy/package-lock.json
Owners: @googleapis/github-automation

deps: update release-brancher deps
  packages/release-brancher/package-lock.json
Owners: @googleapis/github-automation

deps: update release-please deps
  packages/release-please/package-lock.json
Owners: @googleapis/github-automation, @bcoe, @chingor13

deps: update release-trigger deps
  packages/release-trigger/package-lock.json
Owners: @googleapis/github-automation

deps: update repo-metadata-lint deps
  packages/repo-metadata-lint/package-lock.json
Owners: @googleapis/github-automation

deps: update secret-rotator deps
  packages/secret-rotator/package-lock.json
Owners: @googleapis/github-automation

deps: update snippet-bot deps
  packages/snippet-bot/package-lock.json
Owners: @googleapis/github-automation

deps: update sync-repo-settings deps
  packages/sync-repo-settings/package-lock.json
Owners: @googleapis/github-automation

deps: update trusted-contribution deps
  packages/trusted-contribution/package-lock.json
Owners: @googleapis/github-automation

build: fetch 100 job runs
  .github/workflows/finale.js
Owners: @googleapis/github-automation

feat(canary-bot): update to node 20
  .github/workflows/ci.yaml
  packages/canary-bot/Dockerfile
  packages/canary-bot/cloudbuild.yaml
Owners: @googleapis/github-automation

use node16
  .github/workflows/ci.yaml
  packages/canary-bot/Dockerfile
  packages/canary-bot/cloudbuild.yaml
Owners: @googleapis/github-automation

deps: update protobufjs and word-wrap deps (#5141)
  .github/workflows/finale.js
  packages/auto-approve/package-lock.json
  packages/auto-label/package-lock.json
  packages/bazel-bot/package-lock.json
  packages/blunderbuss/package-lock.json
  packages/bot-config-utils/package-lock.json
  packages/canary-bot/package-lock.json
  packages/cherry-pick-bot/package-lock.json
  packages/conventional-commit-lint/package-lock.json
  packages/cron-utils/package-lock.json
  packages/datastore-lock/package-lock.json
  packages/do-not-merge/package-lock.json
  packages/failurechecker/package-lock.json
  packages/flakybot/package-lock.json
  packages/gcf-utils/package-lock.json
  packages/generate-bot/package-lock.json
  packages/generated-files-bot/package-lock.json
  packages/git-file-utils/package-lock.json
  packages/header-checker-lint/package-lock.json
  packages/issue-utils/package-lock.json
  packages/label-sync/package-lock.json
  packages/label-utils/package-lock.json
  packages/loadtest-bot/package-lock.json
  packages/merge-on-green/package-lock.json
  packages/mono-repo-publish/package-lock.json
  packages/object-selector/package-lock.json
  packages/owl-bot/package-lock.json
  packages/policy/package-lock.json
  packages/release-brancher/package-lock.json
  packages/release-please/package-lock.json
  packages/release-trigger/package-lock.json
  packages/repo-metadata-lint/package-lock.json
  packages/secret-rotator/package-lock.json
  packages/snippet-bot/package-lock.json
  packages/sync-repo-settings/package-lock.json
  packages/trusted-contribution/package-lock.json
Owners: @googleapis/github-automation, @sofisl, @bcoe, @chingor13

Revert "deps: update protobufjs and word-wrap deps (#5141)"
  .github/workflows/finale.js
  packages/auto-approve/package-lock.json
  packages/auto-label/package-lock.json
  packages/bazel-bot/package-lock.json
  packages/blunderbuss/package-lock.json
  packages/bot-config-utils/package-lock.json
  packages/canary-bot/package-lock.json
  packages/cherry-pick-bot/package-lock.json
  packages/conventional-commit-lint/package-lock.json
  packages/cron-utils/package-lock.json
  packages/datastore-lock/package-lock.json
  packages/do-not-merge/package-lock.json
  packages/failurechecker/package-lock.json
  packages/flakybot/package-lock.json
  packages/gcf-utils/package-lock.json
  packages/generate-bot/package-lock.json
  packages/generated-files-bot/package-lock.json
  packages/git-file-utils/package-lock.json
  packages/header-checker-lint/package-lock.json
  packages/issue-utils/package-lock.json
  packages/label-sync/package-lock.json
  packages/label-utils/package-lock.json
  packages/loadtest-bot/package-lock.json
  packages/merge-on-green/package-lock.json
  packages/mono-repo-publish/package-lock.json
  packages/object-selector/package-lock.json
  packages/owl-bot/package-lock.json
  packages/policy/package-lock.json
  packages/release-brancher/package-lock.json
  packages/release-please/package-lock.json
  packages/release-trigger/package-lock.json
  packages/repo-metadata-lint/package-lock.json
  packages/secret-rotator/package-lock.json
  packages/snippet-bot/package-lock.json
  packages/sync-repo-settings/package-lock.json
  packages/trusted-contribution/package-lock.json
Owners: @googleapis/github-automation, @sofisl, @bcoe, @chingor13

deps: update releasetool to 1.16.0
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Owners: @googleapis/github-automation

chore: update lock file for owlbot-bootstrapper/cli
  packages/owlbot-bootstrapper/cli/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for owlbot-bootstrapper/app
  packages/owlbot-bootstrapper/app/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for owlbot-bootstrapper/cli (#5146)
  packages/owlbot-bootstrapper/cli/package-lock.json
Owners: @googleapis/github-automation

deps: update releasetool to 1.16.0 (#5144)
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Owners: @googleapis/github-automation

fix: promote draft copy-code PRs
  packages/owl-bot/src/bin/commands/commit-post-processor-update.ts
Owners: @googleapis/github-automation

chore: update lock file for owlbot-bootstrapper/app (#5147)
  packages/owlbot-bootstrapper/app/package-lock.json
Owners: @googleapis/github-automation

Revert "build(deps): bump cryptography from 41.0.0 to 41.0.2 in /packages/release-trigger (#5145)"
  packages/release-trigger/requirements.txt
Owners: @googleapis/github-automation

fix: regex typo for Docker dependency
  packages/auto-approve/package-lock.json
  packages/auto-approve/src/process-checks/sample-application-repos/docker-dependency.ts
  packages/auto-approve/test/sample-app-docker-dependency.test.ts
Owners: @googleapis/github-automation

revert changes to package-lock.json
  packages/auto-approve/package-lock.json
Owners: @googleapis/github-automation

feat: add Java dependency without google dependency
  packages/auto-approve/src/process-checks/sample-application-repos/java-dependency.ts
  packages/auto-approve/src/utils-for-pr-checking.ts
  packages/auto-approve/test/java-sample-app-dependency.test.ts
Owners: @googleapis/github-automation

add JavaSampleAppDependency to workflows
  packages/auto-approve/README.md
  packages/auto-approve/src/check-pr-v2.ts
  packages/auto-approve/src/valid-pr-schema-v2.json
  packages/auto-approve/test/fixtures/config/valid-schemasV2/valid-schema1.yml
Owners: @googleapis/github-automation

chore: add java sample app dependency
  packages/auto-approve/__snapshots__/auto-approve.test.js
  packages/auto-approve/__snapshots__/check-config.test.js
  packages/auto-approve/src/process-checks/java/dependency.ts
  packages/auto-approve/src/process-checks/sample-application-repos/java-dependency.ts
Owners: @googleapis/github-automation

chore: update README
  packages/auto-approve/README.md
Owners: @googleapis/github-automation

Update java-sample-app-dependency.test.ts
  packages/auto-approve/test/java-sample-app-dependency.test.ts
Owners: @googleapis/github-automation

refactor: call prepareGitHubEndpoint() at the beginning of each test instead of inside beforeEach() so I can pass arguments to it.
  packages/owl-bot/test/commit-post-processor-update.ts
Owners: @googleapis/github-automation
