Repository googleapis/repo-automation-bots, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/github-automation, @sofisl, @bcoe, @chingor13

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


*     @googleapis/github-automation

packages/auto-label/*                 @googleapis/github-automation @sofisl
packages/conventional-commit-lint/*   @googleapis/github-automation @bcoe
packages/generated-files-bot/*        @googleapis/github-automation @chingor13
packages/header-checker-lint/*        @googleapis/github-automation @chingor13
packages/merge-on-green/*             @googleapis/github-automation @sofisl
packages/monitoring-system/*          @googleapis/github-automation @chingor13
packages/release-please/*             @googleapis/github-automation @bcoe @chingor13

# The github automation team is the default owner for the auto-approve file.
.github/auto-approve.yml @googleapis/github-automation

deps: update release-please to 15.10.5
  packages/release-please/package-lock.json
  packages/release-please/package.json
Owners: @googleapis/github-automation, @bcoe, @chingor13

deps: update release-please to 15.10.5 (#5074)
  packages/release-please/package-lock.json
  packages/release-please/package.json
Owners: @googleapis/github-automation, @bcoe, @chingor13

fix: verify that release commit came from release-please bot
  packages/release-please/src/release-please.ts
  packages/release-please/test/fixtures/push_to_master_release.json
Owners: @googleapis/github-automation

feat: allow onDemand configuration for release PRs (#5073)
  packages/release-please/src/config-constants.ts
  packages/release-please/src/config-schema.json
  packages/release-please/src/release-please.ts
  packages/release-please/test/config-schema.ts
  packages/release-please/test/fixtures/config/on_demand.yml
  packages/release-please/test/fixtures/config/on_demand_branch.yml
  packages/release-please/test/fixtures/push_to_master_release.json
  packages/release-please/test/release-please.ts
Owners: @googleapis/github-automation

feat: add allowedAuthorAssociation to schema
  packages/cherry-pick-bot/.eslintrc.json
  packages/cherry-pick-bot/__snapshots__/bot.js
  packages/cherry-pick-bot/src/config-schema.json
  packages/cherry-pick-bot/test/bot.ts
  packages/cherry-pick-bot/test/fixtures/config/allowed-authors.yml
  packages/cherry-pick-bot/test/fixtures/config/broken-allowed-authors.yml
Owners: @googleapis/github-automation

feat: allow overriding allowedAuthorAssociations
  packages/cherry-pick-bot/src/bot.ts
  packages/cherry-pick-bot/src/config-schema.json
  packages/cherry-pick-bot/test/bot.ts
Owners: @googleapis/github-automation

test: failing test for not opening new PR for on-demand repo
  packages/release-please/test/release-please.ts
Owners: @googleapis/github-automation

fix: on-demand repo should not open new PR on push to main
  packages/release-please/src/release-please.ts
Owners: @googleapis/github-automation

feat: store validated .repo-metadata in table
  packages/repo-metadata-lint/package-lock.json
  packages/repo-metadata-lint/package.json
  packages/repo-metadata-lint/src/store-metadata.ts
  packages/repo-metadata-lint/src/validate.ts
  packages/repo-metadata-lint/test/validate.ts
Owners: @googleapis/github-automation

add some logging
  packages/repo-metadata-lint/src/store-metadata.ts
Owners: @googleapis/github-automation

address code review
  packages/repo-metadata-lint/src/store-metadata.ts
Owners: @googleapis/github-automation

fix: on-demand repo should not open new PR on push to main (#5080)
  packages/release-please/src/release-please.ts
  packages/release-please/test/release-please.ts
Owners: @googleapis/github-automation

feat: store validated .repo-metadata in table (#5081)
  packages/repo-metadata-lint/package-lock.json
  packages/repo-metadata-lint/package.json
  packages/repo-metadata-lint/src/store-metadata.ts
  packages/repo-metadata-lint/src/validate.ts
  packages/repo-metadata-lint/test/validate.ts
Owners: @googleapis/github-automation

Revert "feat: store validated .repo-metadata in table (#5081)"
  packages/repo-metadata-lint/package-lock.json
  packages/repo-metadata-lint/package.json
  packages/repo-metadata-lint/src/store-metadata.ts
  packages/repo-metadata-lint/src/validate.ts
  packages/repo-metadata-lint/test/validate.ts
Owners: @googleapis/github-automation

debug: add more logging to copy-code process around exiting PRs
  packages/owl-bot/.eslintrc.json
  packages/owl-bot/src/copy-code.ts
Owners: @googleapis/github-automation

chore: fix lint
  packages/owl-bot/src/copy-code.ts
Owners: @googleapis/github-automation

debug: add more logging to copy-code process around exiting PRs (#5088)
  packages/owl-bot/.eslintrc.json
  packages/owl-bot/src/copy-code.ts
Owners: @googleapis/github-automation

test: failing test for updating a bulk PR
  packages/owl-bot/test/fake-octokit.ts
  packages/owl-bot/test/scan-googleapis-gen-and-create-pull-requests.ts
Owners: @googleapis/github-automation

fix: update existing bulk copy-code PRs
  packages/owl-bot/src/copy-code.ts
Owners: @googleapis/github-automation

fix: update existing bulk copy-code PRs (#5089)
  packages/owl-bot/src/copy-code.ts
  packages/owl-bot/test/fake-octokit.ts
  packages/owl-bot/test/scan-googleapis-gen-and-create-pull-requests.ts
Owners: @googleapis/github-automation

feat(repo-metadata-lint): add support for .repo-metadata-full.json
  packages/repo-metadata-lint/src/core.ts
  packages/repo-metadata-lint/test/fixtures/metadata-full-bad.json
  packages/repo-metadata-lint/test/repo-metadata-lint.ts
Owners: @googleapis/github-automation

chore: slight cleanup to formatting
  packages/repo-metadata-lint/test/fixtures/metadata-full-bad.json
Owners: @googleapis/github-automation

chore: useful comments
  packages/repo-metadata-lint/test/repo-metadata-lint.ts
Owners: @googleapis/github-automation

feat(repo-metadata-lint): add support for .repo-metadata-full.json (#5090)
  packages/repo-metadata-lint/src/core.ts
  packages/repo-metadata-lint/test/fixtures/metadata-full-bad.json
  packages/repo-metadata-lint/test/repo-metadata-lint.ts
Owners: @googleapis/github-automation

deps: update releasetool to 1.15.0
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Owners: @googleapis/github-automation

Revert "feat(repo-metadata-lint): add support for .repo-metadata-full.json (#5090)"
  packages/repo-metadata-lint/src/core.ts
  packages/repo-metadata-lint/test/fixtures/metadata-full-bad.json
  packages/repo-metadata-lint/test/repo-metadata-lint.ts
Owners: @googleapis/github-automation

chore: update lock file for bazel-bot
  packages/bazel-bot/package-lock.json
Owners: @googleapis/github-automation

deps: update releasetool to 1.15.0 (#5091)
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Owners: @googleapis/github-automation

chore: update lock file for generate-bot
  packages/generate-bot/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for policy
  packages/policy/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for flakybot
  packages/flakybot/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for failurechecker
  packages/failurechecker/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for auto-label
  packages/auto-label/package-lock.json
Owners: @googleapis/github-automation, @sofisl

chore: update lock file for owlbot-bootstrapper/cli
  packages/owlbot-bootstrapper/cli/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for owlbot-bootstrapper/common-container
  packages/owlbot-bootstrapper/common-container/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for owlbot-bootstrapper/app
  packages/owlbot-bootstrapper/app/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for auto-approve
  packages/auto-approve/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for gcf-utils
  packages/gcf-utils/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for generated-files-bot
  packages/generated-files-bot/package-lock.json
Owners: @googleapis/github-automation, @chingor13

chore: update lock file for release-brancher
  packages/release-brancher/package-lock.json
Owners: @googleapis/github-automation
