Repository googleapis/repo-automation-bots, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/github-automation, @sofisl, @bcoe, @chingor13

chore: update lock file for git-file-utils
  packages/git-file-utils/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for issue-utils
  packages/issue-utils/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for label-sync
  packages/label-sync/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for bazel-bot
  packages/bazel-bot/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for cherry-pick-bot
  packages/cherry-pick-bot/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for blunderbuss
  packages/blunderbuss/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for bot-config-utils
  packages/bot-config-utils/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for snippet-bot
  packages/snippet-bot/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for conventional-commit-lint
  packages/conventional-commit-lint/package-lock.json
Owners: @googleapis/github-automation, @bcoe

chore: update lock file for header-checker-lint
  packages/header-checker-lint/package-lock.json
Owners: @googleapis/github-automation, @chingor13

chore: update lock file for cron-utils
  packages/cron-utils/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for sync-repo-settings
  packages/sync-repo-settings/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for generate-bot (#5102)
  packages/generate-bot/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for mono-repo-publish
  packages/mono-repo-publish/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for release-trigger
  packages/release-trigger/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for merge-on-green
  packages/merge-on-green/package-lock.json
Owners: @googleapis/github-automation, @sofisl

chore: update lock file for loadtest-bot
  packages/loadtest-bot/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for canary-bot
  packages/canary-bot/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for object-selector
  packages/object-selector/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for label-utils
  packages/label-utils/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for datastore-lock
  packages/datastore-lock/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for trusted-contribution
  packages/trusted-contribution/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for policy (#5103)
  packages/policy/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for owl-bot
  packages/owl-bot/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for release-please
  packages/release-please/package-lock.json
Owners: @googleapis/github-automation, @bcoe, @chingor13

chore: update lock file for repo-metadata-lint
  packages/repo-metadata-lint/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for do-not-merge
  packages/do-not-merge/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for secret-rotator
  packages/secret-rotator/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for flakybot (#5104)
  packages/flakybot/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for gcf-utils
  packages/gcf-utils/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for auto-approve
  packages/auto-approve/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for generated-files-bot
  packages/generated-files-bot/package-lock.json
Owners: @googleapis/github-automation, @chingor13

chore: update lock file for release-brancher
  packages/release-brancher/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for git-file-utils
  packages/git-file-utils/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for issue-utils
  packages/issue-utils/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for label-sync
  packages/label-sync/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for cherry-pick-bot
  packages/cherry-pick-bot/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for blunderbuss
  packages/blunderbuss/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for bot-config-utils
  packages/bot-config-utils/package-lock.json
Owners: @googleapis/github-automation

chore: update lock file for snippet-bot
  packages/snippet-bot/package-lock.json
Owners: @googleapis/github-automation

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


*     @googleapis/github-automation

packages/auto-label/*                 @googleapis/github-automation @sofisl
packages/conventional-commit-lint/*   @googleapis/github-automation @bcoe
packages/generated-files-bot/*        @googleapis/github-automation @chingor13
packages/header-checker-lint/*        @googleapis/github-automation @chingor13
packages/merge-on-green/*             @googleapis/github-automation @sofisl
packages/monitoring-system/*          @googleapis/github-automation @chingor13
packages/release-please/*             @googleapis/github-automation @bcoe @chingor13

# The github automation team is the default owner for the auto-approve file.
.github/auto-approve.yml @googleapis/github-automation
