Repository googleapis/repo-automation-bots, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/github-automation, @sofisl, @bcoe, @chingor13

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


*     @googleapis/github-automation

packages/auto-label/*                 @googleapis/github-automation @sofisl
packages/conventional-commit-lint/*   @googleapis/github-automation @bcoe
packages/generated-files-bot/*        @googleapis/github-automation @chingor13
packages/header-checker-lint/*        @googleapis/github-automation @chingor13
packages/merge-on-green/*             @googleapis/github-automation @sofisl
packages/monitoring-system/*          @googleapis/github-automation @chingor13
packages/release-please/*             @googleapis/github-automation @bcoe @chingor13

# The github automation team is the default owner for the auto-approve file.
.github/auto-approve.yml @googleapis/github-automation

test the first of three code paths
  packages/owl-bot/test/commit-post-processor-update.ts
Owners: @googleapis/github-automation

Test the second of three code paths.
  packages/owl-bot/test/commit-post-processor-update.ts
Owners: @googleapis/github-automation

test third of three code paths
  packages/owl-bot/test/commit-post-processor-update.ts
Owners: @googleapis/github-automation

fix(auto-approve): regex typo for Docker dependency (#5152)
  packages/auto-approve/src/process-checks/sample-application-repos/docker-dependency.ts
  packages/auto-approve/test/sample-app-docker-dependency.test.ts
Owners: @googleapis/github-automation

fix: promote draft copy-code PRs (#5149)
  packages/owl-bot/src/bin/commands/commit-post-processor-update.ts
  packages/owl-bot/test/commit-post-processor-update.ts
Owners: @googleapis/github-automation

fix: flag to enable creating draft pull requests
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
  packages/owl-bot/src/copy-code.ts
  packages/owl-bot/src/create-pr.ts
  packages/owl-bot/src/scan-googleapis-gen-and-create-pull-requests.ts
Owners: @googleapis/github-automation

fix: flag to enable creating draft pull requests (#5156)
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
  packages/owl-bot/src/copy-code.ts
  packages/owl-bot/src/create-pr.ts
  packages/owl-bot/src/scan-googleapis-gen-and-create-pull-requests.ts
Owners: @googleapis/github-automation

feat: add Java sample app dependency (#5153)
  packages/auto-approve/README.md
  packages/auto-approve/__snapshots__/auto-approve.test.js
  packages/auto-approve/__snapshots__/check-config.test.js
  packages/auto-approve/src/check-pr-v2.ts
  packages/auto-approve/src/process-checks/sample-application-repos/java-dependency.ts
  packages/auto-approve/src/utils-for-pr-checking.ts
  packages/auto-approve/src/valid-pr-schema-v2.json
  packages/auto-approve/test/fixtures/config/valid-schemasV2/valid-schema1.yml
  packages/auto-approve/test/java-sample-app-dependency.test.ts
Owners: @googleapis/github-automation

fix: flip flag to turn on *draft* copy code PRs
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
Owners: @googleapis/github-automation

fix: flip flag to turn on *draft* copy code PRs (#5157)
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
Owners: @googleapis/github-automation

fix(auto-approve): always try to re-add an automerge label, even if the PR is approved
  packages/auto-approve/__snapshots__/auto-approve.test.js
  packages/auto-approve/src/auto-approve.ts
  packages/auto-approve/test/auto-approve.test.ts
Owners: @googleapis/github-automation

Revert "fix: flip flag to turn on *draft* copy code PRs (#5157)"
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
Owners: @googleapis/github-automation

Revert "fix: flip flag to turn on *draft* copy code PRs (#5157)" (#5161)
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
Owners: @googleapis/github-automation

Update auto-approve.ts
  packages/auto-approve/src/auto-approve.ts
Owners: @googleapis/github-automation

fix: use graphql to promote PR from draft to ready for review
  packages/owl-bot/package-lock.json
  packages/owl-bot/package.json
  packages/owl-bot/src/bin/commands/commit-post-processor-update.ts
  packages/owl-bot/test/commit-post-processor-update.ts
Owners: @googleapis/github-automation

npm run fix
  packages/owl-bot/package-lock.json
  packages/owl-bot/package.json
  packages/owl-bot/src/bin/commands/commit-post-processor-update.ts
  packages/owl-bot/test/commit-post-processor-update.ts
Owners: @googleapis/github-automation

chore: revert changes to package-lock.json.
  packages/owl-bot/package-lock.json
Owners: @googleapis/github-automation

chore: better names
  packages/owl-bot/src/bin/commands/commit-post-processor-update.ts
  packages/owl-bot/test/commit-post-processor-update.ts
Owners: @googleapis/github-automation

fix: use graphql to promote PR from draft to ready for review (#5162)
  packages/owl-bot/src/bin/commands/commit-post-processor-update.ts
  packages/owl-bot/test/commit-post-processor-update.ts
Owners: @googleapis/github-automation

fix: flip flag to create draft prs when copying code
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
Owners: @googleapis/github-automation

Revert "fix: use graphql to promote PR from draft to ready for review (#5162)"
  packages/owl-bot/src/bin/commands/commit-post-processor-update.ts
  packages/owl-bot/test/commit-post-processor-update.ts
Owners: @googleapis/github-automation

fix: flip flag to create draft prs when copying code (#5163)
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
Owners: @googleapis/github-automation

fix: assign reviewers when PR is marked ready for review
  packages/blunderbuss/src/blunderbuss.ts
Owners: @googleapis/github-automation

fix: npm run fix
  packages/blunderbuss/src/blunderbuss.ts
Owners: @googleapis/github-automation

fix: assign reviewers when PR is marked ready for review (#5165)
  packages/blunderbuss/src/blunderbuss.ts
Owners: @googleapis/github-automation

feat: use datastore lock per repo/branch when handling events
  packages/release-please/package-lock.json
  packages/release-please/package.json
  packages/release-please/src/release-please.ts
  packages/release-please/test/release-please.ts
Owners: @googleapis/github-automation, @bcoe, @chingor13

fix: don't revalidate bot schema when trying to execute
  packages/cherry-pick-bot/src/bot.ts
Owners: @googleapis/github-automation

Update README.md
  packages/owl-bot/README.md
Owners: @googleapis/github-automation

fix: don't revalidate bot schema when trying to execute (#5168)
  packages/cherry-pick-bot/src/bot.ts
Owners: @googleapis/github-automation

fix(auto-approve): always try to re-add an automerge label, even if the PR is approved (#5159)
  packages/auto-approve/__snapshots__/auto-approve.test.js
  packages/auto-approve/src/auto-approve.ts
  packages/auto-approve/test/auto-approve.test.ts
Owners: @googleapis/github-automation

feat: use datastore lock per repo/branch when handling events (#5167)
  packages/release-please/package-lock.json
  packages/release-please/package.json
  packages/release-please/src/release-please.ts
  packages/release-please/test/release-please.ts
Owners: @googleapis/github-automation, @bcoe, @chingor13

deps: update protobuf and word-wrap dependencies
  packages/owlbot-bootstrapper/common-container/package-lock.json
Owners: @googleapis/github-automation

deps: update wordwrap dependency
  packages/auto-approve/package-lock.json
  packages/auto-label/package-lock.json
  packages/blunderbuss/package-lock.json
  packages/bot-config-utils/package-lock.json
  packages/cherry-pick-bot/package-lock.json
  packages/conventional-commit-lint/package-lock.json
  packages/cron-utils/package-lock.json
  packages/datastore-lock/package-lock.json
  packages/do-not-merge/package-lock.json
  packages/failurechecker/package-lock.json
  packages/flakybot/package-lock.json
  packages/generated-files-bot/package-lock.json
  packages/header-checker-lint/package-lock.json
  packages/issue-utils/package-lock.json
  packages/label-sync/package-lock.json
  packages/label-utils/package-lock.json
  packages/loadtest-bot/package-lock.json
  packages/merge-on-green/package-lock.json
  packages/object-selector/package-lock.json
  packages/policy/package-lock.json
  packages/repo-metadata-lint/package-lock.json
  packages/secret-rotator/package-lock.json
  packages/snippet-bot/package-lock.json
  packages/sync-repo-settings/package-lock.json
  packages/trusted-contribution/package-lock.json
Owners: @googleapis/github-automation, @sofisl, @bcoe, @chingor13

deps: update protobuf and word-wrap dependencies (#5171)
  packages/owlbot-bootstrapper/common-container/package-lock.json
Owners: @googleapis/github-automation

deps: update wordwrap dependency (#5172)
  packages/auto-approve/package-lock.json
  packages/auto-label/package-lock.json
  packages/blunderbuss/package-lock.json
  packages/bot-config-utils/package-lock.json
  packages/cherry-pick-bot/package-lock.json
  packages/conventional-commit-lint/package-lock.json
  packages/cron-utils/package-lock.json
  packages/datastore-lock/package-lock.json
  packages/do-not-merge/package-lock.json
  packages/failurechecker/package-lock.json
  packages/flakybot/package-lock.json
  packages/generated-files-bot/package-lock.json
  packages/header-checker-lint/package-lock.json
  packages/issue-utils/package-lock.json
  packages/label-sync/package-lock.json
  packages/label-utils/package-lock.json
  packages/loadtest-bot/package-lock.json
  packages/merge-on-green/package-lock.json
  packages/object-selector/package-lock.json
  packages/policy/package-lock.json
  packages/repo-metadata-lint/package-lock.json
  packages/secret-rotator/package-lock.json
  packages/snippet-bot/package-lock.json
  packages/sync-repo-settings/package-lock.json
  packages/trusted-contribution/package-lock.json
Owners: @googleapis/github-automation, @sofisl, @bcoe, @chingor13

Create devcontainer.json
  .devcontainer/devcontainer.json
Owners: @googleapis/github-automation

fix: write log when creating GitHub check
  packages/owl-bot/src/owl-bot.ts
Owners: @googleapis/github-automation

fix: log an error when createCheck fails.
  packages/owl-bot/src/owl-bot.ts
Owners: @googleapis/github-automation

fix: write log when creating GitHub check (#5178)
  packages/owl-bot/src/owl-bot.ts
Owners: @googleapis/github-automation

fix: turn off draft pull requests
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
Owners: @googleapis/github-automation
