Repository googleapis/repo-automation-bots, pull requests merged in 2022-10, with the labels that each got.

#4521 fix(snippet-bot): exits early upon 404 errors
  packages/snippet-bot/package-lock.json
  packages/snippet-bot/package.json
  packages/snippet-bot/src/region-tag-parser.ts
  packages/snippet-bot/src/snippet-bot.ts
  packages/snippet-bot/test/region-tag-parser.ts
  packages/snippet-bot/test/snippet-bot.ts
Labels: bot: snippet-bot

#4532 deps: update release-please to 14.10.2
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4539 feat: switch on BEGIN_NESTED_COMMIT delimiters
  packages/owl-bot/package-lock.json
  packages/owl-bot/package.json
  packages/owl-bot/src/bin/commands/copy-code-and-create-pull-request.ts
Labels: bot: owl-bot

#4540 feat(release-trigger): comment on PR after triggering
  packages/release-trigger/src/bot.ts
  packages/release-trigger/src/release-trigger.ts
  packages/release-trigger/test/bot.ts
  packages/release-trigger/test/release-trigger.ts
Labels: bot: release-trigger

#4541 fix(snippet-bot): always ignore "owl-bot-staging"
  packages/snippet-bot/src/configuration.ts
  packages/snippet-bot/test/fixtures/diff-owl-bot.txt
  packages/snippet-bot/test/snippet-bot.ts
Labels: bot: snippet-bot

#4545 fix(snippet-bot): ignore draft PRs
  packages/snippet-bot/src/snippet-bot.ts
  packages/snippet-bot/test/fixtures/pr_event_draft.json
  packages/snippet-bot/test/snippet-bot.ts
Labels: bot: snippet-bot

#4546 fix(snippet-bot): only fetch files with region tag edit
  packages/snippet-bot/src/region-tag-parser.ts
  packages/snippet-bot/test/fixtures/diff-no-region-tags.txt
  packages/snippet-bot/test/snippet-bot.ts
Labels: bot: snippet-bot

#4558 deps: update release-please to 14.11.1
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4561 feat: create, require and read env variables for MONO_REPO_PATH, SERVICE_CONFIG_PATH, INTER_CONTAINER_VARS_PATH
  packages/owlbot-bootstrapper/cli/cloudbuild-owlbot-bootstrapper.yaml
  packages/owlbot-bootstrapper/cli/run-trigger-command.ts
  packages/owlbot-bootstrapper/cli/run-trigger.ts
  packages/owlbot-bootstrapper/cli/test/run-trigger.test.ts
  packages/owlbot-bootstrapper/common-container/commands/post-process.ts
  packages/owlbot-bootstrapper/common-container/commands/pre-process.ts
  packages/owlbot-bootstrapper/common-container/interfaces.ts
  packages/owlbot-bootstrapper/common-container/mono-repo.ts
  packages/owlbot-bootstrapper/common-container/package-lock.json
  packages/owlbot-bootstrapper/common-container/post-process.ts
  packages/owlbot-bootstrapper/common-container/pre-process.ts
  packages/owlbot-bootstrapper/common-container/test/mono-repo.test.ts
  packages/owlbot-bootstrapper/common-container/test/post-process.test.ts
  packages/owlbot-bootstrapper/common-container/test/pre-process.test.ts
  packages/owlbot-bootstrapper/common-container/test/utils.test.ts
  packages/owlbot-bootstrapper/common-container/utils.ts
Labels: bot: owl-bot bootstrapper

#4566 deps: update release-please to v14.11.2
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4571 deps: update release-please to v14.13.0
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4573 deps: update release-please to 14.13.1
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4574 fix(snippet-bot): trim text when it is too long
  packages/snippet-bot/src/utils.ts
  packages/snippet-bot/test/utils.ts
Labels: bot: snippet-bot

#4619 feat: enable nested commit delimiters
  packages/owl-bot/src/bin/commands/copy-code-and-create-pull-request.ts
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
Labels: bot: owl-bot

#4626 feat: add enabled flag to sync-repo-settings
  packages/sync-repo-settings/src/schema.json
  packages/sync-repo-settings/src/sync-repo-settings.ts
  packages/sync-repo-settings/src/types.ts
Labels: bot: sync-repo-settings

#4618 debug: add logging for withNestedCommitDelimiters option
  packages/owl-bot/src/copy-code.ts
Labels: bot: owl-bot

#4633 deps: update release-please to 14.15.1
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4567 feat: fetch api information from DRIFT and service_config.yaml
  packages/owlbot-bootstrapper/cli/package-lock.json
  packages/owlbot-bootstrapper/common-container/fetch-api-info.ts
  packages/owlbot-bootstrapper/common-container/interfaces.ts
  packages/owlbot-bootstrapper/common-container/package-lock.json
  packages/owlbot-bootstrapper/common-container/package.json
  packages/owlbot-bootstrapper/common-container/pre-process.ts
  packages/owlbot-bootstrapper/common-container/test/fetch-api-info.test.ts
  packages/owlbot-bootstrapper/common-container/test/pre-process.test.ts
  packages/owlbot-bootstrapper/package-lock.json
  packages/owlbot-bootstrapper/package.json
Labels: bot: owl-bot bootstrapper
