Repository googleapis/repo-automation-bots, pull requests merged in 2022-12, with the labels that each got.

#4663 fix: wait for all PRs to attempt to merge before throwing error
  packages/merge-on-green/package-lock.json
  packages/merge-on-green/package.json
  packages/merge-on-green/src/merge-on-green.ts
  packages/merge-on-green/src/parallel-work.ts
  packages/merge-on-green/test/parallel-work.ts
Labels: bot: merge on green

#4709 chore(canary): testing gcf-utils 14.4.0
  packages/canary-bot/package-lock.json
  packages/canary-bot/package.json
Labels: bot: canary

#4711 chore(snippet-bot): upgrade gcf-utils to 14.4.0
  packages/snippet-bot/package-lock.json
  packages/snippet-bot/package.json
Labels: bot: snippet-bot

#4754 chore: update lock file for owlbot-bootstrapper
  packages/owlbot-bootstrapper/package-lock.json
Labels: bot: owl-bot bootstrapper

#4755 fix: extend post-processor timeout to 3 hours
  packages/owl-bot/cloud-build/update-pr.yaml
Labels: automerge, bot: owl-bot

#4770 feat(ccl): introduce `always_check_pr_title` config
  packages/conventional-commit-lint/__snapshots__/conventional-commit-lint.js
  packages/conventional-commit-lint/src/conventional-commit-lint.ts
  packages/conventional-commit-lint/src/schema.json
  packages/conventional-commit-lint/src/utils.ts
  packages/conventional-commit-lint/test/conventional-commit-lint.ts
  packages/conventional-commit-lint/test/fixtures/config/always_check_pr_title.yaml
Labels: bot: conventional-commit-lint

#4771 chore(ccl): add always_check_pr_title to README
  packages/conventional-commit-lint/README.md
Labels: bot: conventional-commit-lint

#4772 chore(ccl): use correct actionable message
  packages/conventional-commit-lint/src/utils.ts
Labels: bot: conventional-commit-lint

#4774 feat: post processors can specify new PR title and body
  packages/owl-bot/cloud-build/update-pr.yaml
  packages/owl-bot/src/bin/commands/commit-post-processor-update.ts
  packages/owl-bot/test/commit-post-processor-update.ts
Labels: automerge, bot: owl-bot

#4779 feat: flag controls the maximum # of APIs to combine in one PR
  packages/owl-bot/src/bin/commands/copy-code-and-create-pull-request.ts
  packages/owl-bot/src/copy-code.ts
  packages/owl-bot/src/scan-googleapis-gen-and-create-pull-requests.ts
  packages/owl-bot/test/scan-googleapis-gen-and-create-pull-requests.ts
Labels: bot: owl-bot

#4778 fix(auto-approve): rethrow original request error
  packages/auto-approve/src/get-pr-info.ts
Labels: bot: auto approve

#4781 feat: detect MergeConflict errors and comment on PR on failure
  packages/cherry-pick-bot/__snapshots__/cherry-pick.js
  packages/cherry-pick-bot/src/bot.ts
  packages/cherry-pick-bot/src/cherry-pick.ts
  packages/cherry-pick-bot/test/bot.ts
  packages/cherry-pick-bot/test/cherry-pick.ts
Labels: bot: cherry-pick

#4782 feat: set owl-bot's max APIs per PR to 20
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
Labels: bot: owl-bot

#4793 fix(deps): update releasetool to 1.10.2
  packages/release-trigger/Dockerfile
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Labels: bot: release-trigger

#4807 fix: pin typescript to 4.8.4 for blunderbuss
  packages/blunderbuss/package-lock.json
  packages/blunderbuss/package.json
Labels: bot: blunderbuss
