Repository googleapis/repo-automation-bots, pull requests merged in 2022-11, with the labels that each got.

#4645 deps: update release-please to 14.15.2
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4651 deps: update release-please to 14.15.3
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4649 feat: add testing option to quiet issue creation
  packages/owlbot-bootstrapper/cli/cloudbuild-owlbot-bootstrapper.yaml
  packages/owlbot-bootstrapper/cli/package-lock.json
  packages/owlbot-bootstrapper/cli/run-trigger-command.ts
  packages/owlbot-bootstrapper/cli/run-trigger.ts
  packages/owlbot-bootstrapper/cli/test/run-trigger.test.ts
  packages/owlbot-bootstrapper/common-container/commands/post-process.ts
  packages/owlbot-bootstrapper/common-container/commands/pre-process.ts
  packages/owlbot-bootstrapper/common-container/interfaces.ts
  packages/owlbot-bootstrapper/common-container/post-process.ts
  packages/owlbot-bootstrapper/common-container/pre-process.ts
  packages/owlbot-bootstrapper/common-container/test/post-process.test.ts
  packages/owlbot-bootstrapper/common-container/test/pre-process.test.ts
Labels: bot: owl-bot bootstrapper

#4654 fix: instantiate client as the project ID that is running the build trigger, not the one from the env
  packages/owlbot-bootstrapper/cli/run-trigger-command.ts
Labels: bot: owl-bot bootstrapper

#4658 fix: do not fail merging on empty PR body
  packages/merge-on-green/src/merge-logic.ts
  packages/merge-on-green/test/merge-logic.ts
Labels: bot: merge on green

#4659 feat: add option to ignore year in license header bot
  packages/header-checker-lint/README.md
  packages/header-checker-lint/__snapshots__/header-checker-lint.js
  packages/header-checker-lint/src/config-schema.json
  packages/header-checker-lint/src/config.ts
  packages/header-checker-lint/src/header-checker-lint.ts
  packages/header-checker-lint/test/header-checker-lint.ts
Labels: bot: license header

#4660 fix: attach PR information as context to logs
  packages/merge-on-green/src/merge-on-green.ts
Labels: bot: merge on green

#4662 fix(owlbot-bootstrapper): add optional chaining for drift metadata
  packages/owlbot-bootstrapper/common-container/fetch-api-info.ts
Labels: bot: owl-bot bootstrapper

#4652 deps: update releasetool to 1.9.1
  packages/release-trigger/requirements.txt
Labels: bot: release-trigger

#4676 fix(owlbot-bootstrapper): get correct default branch for bootstrapper
  packages/owlbot-bootstrapper/common-container/__snapshots__/utils.test.js
  packages/owlbot-bootstrapper/common-container/fetch-api-info.ts
  packages/owlbot-bootstrapper/common-container/pre-process.ts
  packages/owlbot-bootstrapper/common-container/test/mono-repo.test.ts
  packages/owlbot-bootstrapper/common-container/test/utils.test.ts
  packages/owlbot-bootstrapper/common-container/utils.ts
Labels: bot: owl-bot bootstrapper

#4678 deps: update release-please to 14.17.0
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4680 docs: deprecate most configuration options
  packages/release-please/README.md
Labels: bot: release please

#4681 deps: update releasetool to 1.10.0
  packages/release-trigger/requirements.txt
Labels: bot: release-trigger

#4650 fix(deps): use google-gax v3.5.2
  packages/gcf-utils/package-lock.json
  packages/gcf-utils/package.json
  packages/secret-rotator/package-lock.json
  packages/secret-rotator/package.json
Labels: bot: secret-rotator

#4679 feat(flakybot): notify users when no logs are found
  packages/flakybot/flakybot.go
  packages/flakybot/flakybot_test.go
Labels: bot: flakybot

#4688 deps: update release-please to 14.17.2
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please
