Repository googleapis/repo-automation-bots, pull requests merged in 2023-09, with the labels that each got.

#5199 deps: update word-wrap to 1.2.5
  packages/canary-bot/package-lock.json
  packages/gcf-utils/package-lock.json
  packages/owl-bot/package-lock.json
  packages/release-please/package-lock.json
  packages/release-trigger/package-lock.json
  release-please-config.json
Labels: bot: canary

#5205 feat: Adding DEE Asset labels
  packages/label-sync/src/labels.json
Labels: bot: label-sync

#5216 deps: remove unnecessary dependency
  packages/owlbot-bootstrapper/common-container/package-lock.json
  packages/owlbot-bootstrapper/common-container/package.json
Labels: bot: owl-bot bootstrapper

#5189 fix: handle PR with greater than 100 commits
  packages/conventional-commit-lint/src/utils.ts
Labels: bot: conventional-commit-lint

#5213 feat: add process for node generator dependency upgrades
  packages/auto-approve/README.md
  packages/auto-approve/__snapshots__/auto-approve.test.js
  packages/auto-approve/__snapshots__/check-config.test.js
  packages/auto-approve/src/check-pr-v2.ts
  packages/auto-approve/src/process-checks/node/generator-dependency.ts
  packages/auto-approve/src/valid-pr-schema-v2.json
  packages/auto-approve/test/fixtures/config/valid-schemasV2/valid-schema1.yml
  packages/auto-approve/test/node-generator.test.ts
Labels: bot: auto approve

#5221 feat: upgrade canary-bot to node 18
  .github/workflows/ci.yaml
  packages/canary-bot/.eslintrc.json
  packages/canary-bot/Dockerfile
  packages/canary-bot/cloudbuild.yaml
  packages/canary-bot/package-lock.json
  packages/canary-bot/package.json
  packages/canary-bot/src/canary-bot.ts
  packages/canary-bot/test/test.ts
Labels: bot: canary

#5238 deps: bump gcf-utils to 15.0.1
  packages/canary-bot/package-lock.json
Labels: bot: canary

#5227 feat(release-please)!: update to node 18
  .github/workflows/ci.yaml
  packages/release-please/Dockerfile
  packages/release-please/cloudbuild.yaml
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#5239 fix: use correct Source-Link URL format
  packages/owlbot-bootstrapper/common-container/__snapshots__/utils.test.js
  packages/owlbot-bootstrapper/common-container/utils.ts
Labels: bot: owl-bot bootstrapper
