Repository googleapis/repo-automation-bots, pull requests merged in 2023-11, with the labels that each got.

#5258 security: do not output build logs in issue body
  packages/flakybot/__snapshots__/flakybot.test.js
  packages/flakybot/src/flakybot.ts
  packages/flakybot/test/flakybot.test.ts
Labels: bot: flakybot

#5260 Fix: auto-label chooses the first matching path component guessing th…
  packages/auto-label/package-lock.json
  packages/auto-label/package.json
  packages/auto-label/src/helper.ts
  packages/auto-label/test/test-helper.ts
Labels: bot: auto label

#5183 fix: add Bazel option to force creating bazel-bin symlink
  packages/bazel-bot/docker-image/generate-googleapis-gen.sh
Labels: bot: bazel bot

#5261 fix(repo-metadata-lint): add runtimeconfig to the list of non-gRPC APIs
  packages/repo-metadata-lint/src/validate.ts
Labels: bot: repo-metadata-lint

#5262 chore: Update config-schema.json to allow "always-bump-minor" and "always-bump-major" versioning strategies.
  packages/release-please/src/config-schema.json
Labels: bot: release please

#5263 fix(auto-approve): update Docker dependency regex to include another regex use case
  packages/auto-approve/src/process-checks/sample-application-repos/docker-dependency.ts
  packages/auto-approve/test/sample-app-docker-dependency.test.ts
Labels: bot: auto approve
