Repository googleapis/repo-automation-bots, pull requests merged in 2023-06, with the labels that each got.

#5073 feat: allow onDemand configuration for release PRs
  packages/release-please/src/config-constants.ts
  packages/release-please/src/config-schema.json
  packages/release-please/src/release-please.ts
  packages/release-please/test/config-schema.ts
  packages/release-please/test/fixtures/config/on_demand.yml
  packages/release-please/test/fixtures/config/on_demand_branch.yml
  packages/release-please/test/fixtures/push_to_master_release.json
  packages/release-please/test/release-please.ts
Labels: bot: release please

#5080 fix: on-demand repo should not open new PR on push to main
  packages/release-please/src/release-please.ts
  packages/release-please/test/release-please.ts
Labels: bot: release please

#5081 feat: store validated .repo-metadata in table
  packages/repo-metadata-lint/package-lock.json
  packages/repo-metadata-lint/package.json
  packages/repo-metadata-lint/src/store-metadata.ts
  packages/repo-metadata-lint/src/validate.ts
  packages/repo-metadata-lint/test/validate.ts
Labels: bot: repo-metadata-lint

#5088 debug: add more logging to copy-code process around exiting PRs
  packages/owl-bot/.eslintrc.json
  packages/owl-bot/src/copy-code.ts
Labels: bot: owl-bot

#5089 fix: update existing bulk copy-code PRs
  packages/owl-bot/src/copy-code.ts
  packages/owl-bot/test/fake-octokit.ts
  packages/owl-bot/test/scan-googleapis-gen-and-create-pull-requests.ts
Labels: bot: owl-bot

#5090 feat(repo-metadata-lint): add support for .repo-metadata-full.json
  packages/repo-metadata-lint/src/core.ts
  packages/repo-metadata-lint/test/fixtures/metadata-full-bad.json
  packages/repo-metadata-lint/test/repo-metadata-lint.ts
Labels: bot: repo-metadata-lint
