Repository googleapis/repo-automation-bots, pull requests merged in 2023-04, with the labels that each got.

#5023 fix(snippet-bot): provide installation id for global cron
  packages/snippet-bot/cron.yaml
  packages/snippet-bot/src/snippet-bot.ts
Labels: bot: snippet-bot

#5030 fix: skip running release-please on archived/disabled repositories
  packages/release-please/.eslintrc.json
  packages/release-please/src/release-please.ts
  packages/release-please/test/fixtures/pull_request_labeled_archived.json
  packages/release-please/test/fixtures/pull_request_labeled_disabled.json
  packages/release-please/test/fixtures/push_to_main_archived.json
  packages/release-please/test/fixtures/push_to_main_disabled.json
  packages/release-please/test/release-please.ts
Labels: bot: release please

#5035 feat: validate configs after post processor runs
  packages/owl-bot/cloud-build/update-pr.yaml
Labels: bot: owl-bot

#5041 deps: update releasetool to 1.12.0
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Labels: bot: release-trigger
