Repository googleapis/repo-automation-bots, pull requests merged in 2023-08, with the labels that each got.

#5167 feat: use datastore lock per repo/branch when handling events
  packages/release-please/package-lock.json
  packages/release-please/package.json
  packages/release-please/src/release-please.ts
  packages/release-please/test/release-please.ts
Labels: bot: release please

#5171 deps: update protobuf and word-wrap dependencies
  packages/owlbot-bootstrapper/common-container/package-lock.json
Labels: bot: owl-bot bootstrapper

#5178 fix: write log when creating GitHub check
  packages/owl-bot/src/owl-bot.ts
Labels: bot: owl-bot

#5182 fix: log the labels when owl-bot skips draft PR
  packages/owl-bot/src/owl-bot.ts
Labels: bot: owl-bot

#5184 fix: trigger post processor when owl-bot-run label was added to a dra…
  packages/owl-bot/src/owl-bot.ts
Labels: bot: owl-bot

#5186 refactor: non-overlapping control flow for handling label events
  packages/owl-bot/src/owl-bot.ts
Labels: bot: owl-bot
