Repository googleapis/repo-automation-bots, pull requests merged in 2023-05, with the labels that each got.

#5050 deps: update releasetool to 1.13.0
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Labels: bot: release-trigger

#5047 refactor(auto-approve): create BaseLanguageRule, pass PR as an argument
  packages/auto-approve/src/check-pr-v2.ts
  packages/auto-approve/src/interfaces.ts
  packages/auto-approve/src/process-checks/base.ts
  packages/auto-approve/src/process-checks/discovery-doc-update.ts
  packages/auto-approve/src/process-checks/java/apiary-codegen.ts
  packages/auto-approve/src/process-checks/java/dependency.ts
  packages/auto-approve/src/process-checks/node/dependency.ts
  packages/auto-approve/src/process-checks/node/release.ts
  packages/auto-approve/src/process-checks/owl-bot-api-changes.ts
  packages/auto-approve/src/process-checks/owl-bot-template-changes.ts
  packages/auto-approve/src/process-checks/php/apiary-codegen.ts
  packages/auto-approve/src/process-checks/python/dependency.ts
  packages/auto-approve/src/process-checks/python/sample-dependency.ts
  packages/auto-approve/src/process-checks/regenerate-readme.ts
  packages/auto-approve/src/process-checks/update-discovery-artifacts.ts
  packages/auto-approve/test/additional-validation-for-versioning.test.ts
  packages/auto-approve/test/discovery-doc-update.test.ts
  packages/auto-approve/test/java-apiary-codegen.test.ts
  packages/auto-approve/test/java-dependency.test.ts
  packages/auto-approve/test/node-dependency.test.ts
  packages/auto-approve/test/node-release.test.ts
  packages/auto-approve/test/owlbot-api-changes.test.ts
  packages/auto-approve/test/owlbot-template-changes.test.ts
  packages/auto-approve/test/php-apairy-codegen.test.ts
  packages/auto-approve/test/python-dependency.test.ts
  packages/auto-approve/test/python-sample-dependency.test.ts
  packages/auto-approve/test/regenerate-readme.test.ts
  packages/auto-approve/test/update-discovery-artifacts.test.ts
Labels: bot: auto approve

#5052 feat: triggerWithoutPullRequest
  packages/release-trigger/README.md
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
  packages/release-trigger/src/bot.ts
  packages/release-trigger/src/config-constants.ts
  packages/release-trigger/src/config-schema.json
  packages/release-trigger/src/release-trigger.ts
  packages/release-trigger/test/release-trigger.ts
Labels: bot: release-trigger

#5056 fix: collect broken commit messages
  packages/bazel-bot/docker-image/Dockerfile
  packages/bazel-bot/docker-image/generate-googleapis-gen.sh
Labels: bot: bazel bot

#5060 fix(auto-approve): update node dependency for mono repo migration
  packages/auto-approve/README.md
  packages/auto-approve/src/process-checks/node/dependency.ts
  packages/auto-approve/test/additional-validation-for-versioning.test.ts
Labels: bot: auto approve

#5063 feat(auto-approve): add GoApiaryCodegen option
  packages/auto-approve/README.md
  packages/auto-approve/__snapshots__/check-config.test.js
  packages/auto-approve/package-lock.json
  packages/auto-approve/src/check-pr-v2.ts
  packages/auto-approve/src/process-checks/go/apiary-codegen.ts
  packages/auto-approve/src/valid-pr-schema-v2.json
  packages/auto-approve/test/fixtures/config/valid-schemasV2/valid-schema1.yml
  packages/auto-approve/test/go-apiary-codegen.test.ts
Labels: bot: auto approve

#5064 fix(auto-approve): update regex for Node
  packages/auto-approve/src/process-checks/node/dependency.ts
  packages/auto-approve/test/node-dependency.test.ts
Labels: bot: auto approve

#5067 fix: use http/1.1 for post
  packages/owl-bot/Dockerfile
Labels: bot: owl-bot

#5068 fix: use http/1.1 for post
  packages/owl-bot/Dockerfile
  packages/owl-bot/cloud-build/scan-googleapis-gen-and-create-pull-requests.yaml
Labels: bot: owl-bot

#5069 fix: use http/1.1 for post for post-processor
  packages/owl-bot/cloud-build/update-pr.yaml
Labels: bot: owl-bot

#5070 fix: set buffer size for copy-code-again flow
  packages/owl-bot/cloud-build/copy-code-again.yaml
Labels: bot: owl-bot
