Repository googleapis/repo-automation-bots, pull requests merged in 2023-01, with the labels that each got.

#4861 deps: update release-please to 15.1.0
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4874 deps(canary-bot): update gcf-utils to 14.4.4
  packages/canary-bot/package-lock.json
  packages/canary-bot/package.json
Labels: bot: canary

#4873 deps(release-please): update gcf-utils to 14.4.4
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4868 fix(flakybot): skip archived repositories
  packages/flakybot/src/flakybot.ts
  packages/flakybot/test/flakybot.test.ts
Labels: bot: flakybot

#4876 deps(blunderbuss): update gcf-utils to 14.4.4
  packages/blunderbuss/package-lock.json
  packages/blunderbuss/package.json
Labels: bot: blunderbuss

#4830 build(owlbot-bootstrapper): refactor tests to not directly test jsonwebtoken
  packages/owlbot-bootstrapper/common-container/github-authenticator.ts
  packages/owlbot-bootstrapper/common-container/pre-process.ts
  packages/owlbot-bootstrapper/common-container/test/github-authenticator.test.ts
Labels: bot: owl-bot bootstrapper

#4920 fix: header-checker-lint test broke with every new year
  packages/header-checker-lint/src/header-checker-lint.ts
  packages/header-checker-lint/test/header-checker-lint.ts
Labels: bot: license header, automerge

#4919 fix: update gcf-utils to update dependency on jsonwebtoken
  packages/auto-approve/package-lock.json
  packages/auto-label/package-lock.json
  packages/bot-config-utils/package-lock.json
  packages/cherry-pick-bot/package-lock.json
  packages/conventional-commit-lint/package-lock.json
  packages/datastore-lock/package-lock.json
  packages/do-not-merge/package-lock.json
  packages/failurechecker/package-lock.json
  packages/flakybot/package-lock.json
  packages/generated-files-bot/package-lock.json
  packages/header-checker-lint/package-lock.json
  packages/issue-utils/package-lock.json
  packages/label-sync/package-lock.json
  packages/label-utils/package-lock.json
  packages/loadtest-bot/package-lock.json
  packages/merge-on-green/package-lock.json
  packages/object-selector/package-lock.json
  packages/owl-bot/package-lock.json
  packages/owlbot-bootstrapper/common-container/package-lock.json
  packages/policy/package-lock.json
  packages/release-trigger/package-lock.json
  packages/repo-metadata-lint/package-lock.json
  packages/secret-rotator/package-lock.json
  packages/snippet-bot/package-lock.json
  packages/sync-repo-settings/package-lock.json
  packages/trusted-contribution/package-lock.json
Labels: bot: cherry-pick

#4922 chore: typescript 4.9.4 for blunderbuss
  packages/blunderbuss/.eslintrc.json
  packages/blunderbuss/package-lock.json
  packages/blunderbuss/package.json
  packages/blunderbuss/src/utils.ts
Labels: bot: blunderbuss, automerge

#4862 fix(repo-metadata-lint): handle empty repository
  packages/repo-metadata-lint/package-lock.json
  packages/repo-metadata-lint/package.json
  packages/repo-metadata-lint/src/bin/commands/scan-repo.ts
  packages/repo-metadata-lint/src/core.ts
  packages/repo-metadata-lint/src/file-iterator.ts
  packages/repo-metadata-lint/src/repo-metadata-lint.ts
  packages/repo-metadata-lint/src/validate.ts
  packages/repo-metadata-lint/test/repo-metadata-lint.ts
  packages/repo-metadata-lint/test/validate.ts
Labels: bot: repo-metadata-lint

#4858 chore(owlbot-bootstrapper): add logging statement to check for build log
  packages/owlbot-bootstrapper/cli/run-trigger.ts
  packages/owlbot-bootstrapper/cli/test/run-trigger.test.ts
Labels: bot: owl-bot bootstrapper

#4927 fix: auto-label should recursively search through configuration to find the right label
  packages/auto-label/src/helper.ts
  packages/auto-label/test/language-path-tests.ts
Labels: bot: auto label

#4931 chore: npm update to get jsonwebtoken-9.
  package-locks.txt
  packages/auto-approve/package-lock.json
  packages/auto-label/package-lock.json
  packages/blunderbuss/package-lock.json
  packages/bot-config-utils/package-lock.json
  packages/canary-bot/package-lock.json
  packages/cherry-pick-bot/package-lock.json
  packages/conventional-commit-lint/package-lock.json
  packages/datastore-lock/package-lock.json
  packages/do-not-merge/package-lock.json
  packages/failurechecker/package-lock.json
  packages/flakybot/package-lock.json
  packages/generated-files-bot/package-lock.json
  packages/header-checker-lint/package-lock.json
  packages/issue-utils/package-lock.json
  packages/label-utils/package-lock.json
  packages/loadtest-bot/package-lock.json
  packages/object-selector/package-lock.json
  packages/owlbot-bootstrapper/common-container/package-lock.json
  packages/policy/package-lock.json
  packages/release-please/package-lock.json
  packages/release-trigger/package-lock.json
  packages/repo-metadata-lint/package-lock.json
  packages/secret-rotator/package-lock.json
  packages/snippet-bot/package-lock.json
  packages/sync-repo-settings/package-lock.json
  packages/trusted-contribution/package-lock.json
  upgrade.sh
Labels: bot: owl-bot bootstrapper

#4934 chore: turn off renovate bot because dependabot covers all the langua…
  renovate.json
Labels: automerge

#4939 fix(deps): npm audit fixes for several packages
  packages/label-sync/package-lock.json
  packages/merge-on-green/package-lock.json
  packages/mono-repo-publish/package-lock.json
  packages/owl-bot/package-lock.json
  packages/owlbot-bootstrapper/app/package-lock.json
  packages/owlbot-bootstrapper/cli/package-lock.json
Labels: bot: owl-bot

#4960 deps: update release-please to v15.3.0
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4959 deps: update cookiejar
  packages/auto-approve/package-lock.json
  packages/canary-bot/package-lock.json
  packages/cherry-pick-bot/package-lock.json
  packages/conventional-commit-lint/package-lock.json
  packages/do-not-merge/package-lock.json
  packages/loadtest-bot/package-lock.json
  packages/snippet-bot/package-lock.json
Labels: bot: auto approve

#4957 fix: pass context logger to post-processor handlers
  packages/owl-bot/src/core.ts
  packages/owl-bot/src/owl-bot.ts
Labels: bot: owl-bot

#4962 fix(release-please): filter commits in changelog.json
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4961 build: increase timeout for post processor check
  packages/owl-bot/src/core.ts
Labels: bot: owl-bot

#4963 deps: update release-please to 15.5.0
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4958 fix: improve timeout error message
  packages/owl-bot/src/core.ts
Labels: bot: owl-bot

#4968 deps: update releasetool to 1.10.3
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Labels: bot: release-trigger
