Repository googleapis/repo-automation-bots, pull requests merged in 2023-03, with the labels that each got.

#4991 fix(owlbot): include newlines when there are multiple nested commits
  .github/workflows/ci.yaml
  packages/owl-bot/src/create-pr.ts
  packages/owl-bot/test/create-pr.ts
Labels: bot: owl-bot

#4445 refactor: use REST transport for GAPIC clients
  packages/auto-approve/package-lock.json
  packages/auto-approve/package.json
  packages/auto-approve/src/auto-approve.ts
  packages/bazel-bot/package-lock.json
  packages/cron-utils/src/cron-utils.ts
  packages/gcf-utils/package-lock.json
  packages/gcf-utils/package.json
  packages/gcf-utils/src/bin/genkey.ts
  packages/gcf-utils/src/gcf-utils.ts
  packages/owlbot-bootstrapper/cli/run-trigger-command.ts
  packages/owlbot-bootstrapper/common-container/post-process.ts
  packages/owlbot-bootstrapper/common-container/pre-process.ts
  packages/secret-rotator/package-lock.json
  packages/secret-rotator/package.json
  packages/secret-rotator/src/app.ts
  packages/trusted-contribution/package-lock.json
  packages/trusted-contribution/package.json
  packages/trusted-contribution/src/utils.ts
Labels: bot: owl-bot

#5007 fix: (owl-bot) add ignore files list to refreshConfigs function
  packages/owl-bot/src/handlers.ts
  packages/owl-bot/test/handlers.ts
Labels: bot: owl-bot

#5011 fix: races while updating pull request branches
  packages/owl-bot/src/copy-code.ts
Labels: bot: owl-bot

#4986 docs: update policy bot readme
  packages/policy/README.md
Labels: bot: policy

#5003 feat: add auto label multiple config setting
  packages/auto-label/README.md
  packages/auto-label/src/auto-label.ts
  packages/auto-label/src/helper.ts
  packages/auto-label/test/language-path-tests.ts
Labels: bot: auto label

#5021 deps: update dependencies with npm audit fix
  packages/secret-rotator/package-lock.json
Labels: bot: secret-rotator

#5012 feat: allow configuring a multiScmName for the kokoro job
  packages/release-trigger/.eslintrc.json
  packages/release-trigger/README.md
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
  packages/release-trigger/src/bot.ts
  packages/release-trigger/src/config-constants.ts
  packages/release-trigger/src/config-schema.json
  packages/release-trigger/src/release-trigger.ts
  packages/release-trigger/test/bot.ts
  packages/release-trigger/test/release-trigger.ts
Labels: bot: release-trigger

#5014 feat(snippet-bot): read products from service configs in googleapis/googleapis
  packages/snippet-bot/.eslintrc.json
  packages/snippet-bot/cron.yaml
  packages/snippet-bot/package-lock.json
  packages/snippet-bot/package.json
  packages/snippet-bot/src/api-labels.ts
  packages/snippet-bot/src/service-configs.ts
  packages/snippet-bot/src/snippet-bot.ts
  packages/snippet-bot/src/violations.ts
  packages/snippet-bot/test/fixtures/service-config/bar_v2alpha.yaml
  packages/snippet-bot/test/fixtures/service-config/empty_doc_tag_prefix.yaml
  packages/snippet-bot/test/fixtures/service-config/foo_v1.yaml
  packages/snippet-bot/test/fixtures/service-config/no_publishing_v1.yaml
  packages/snippet-bot/test/fixtures/service-config/non_service.yaml
  packages/snippet-bot/test/fixtures/service-config/qwer_v3.yaml
  packages/snippet-bot/test/service-configs.ts
  packages/snippet-bot/test/violations.ts
Labels: bot: snippet-bot

#5025 fix(auto-label): add multiple label paths for config
  packages/auto-label/README.md
  packages/auto-label/src/config-schema.json
  packages/auto-label/test/config-compatibility.ts
  packages/auto-label/test/fixtures/config/valid-config-multiple-paths.yml
Labels: bot: auto label
