Repository googleapis/repo-automation-bots, pull requests merged in 2023-02, with the labels that each got.

#4969 deps: update to release-please 15.6.0
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4967 fix: ignore renovate state from opening issues
  packages/policy/src/issue.ts
Labels: bot: policy

#4971 chore: run npm audit fix to drop taffydb.
  packages/auto-approve/package-lock.json
  packages/auto-label/package-lock.json
  packages/blunderbuss/package-lock.json
  packages/bot-config-utils/package-lock.json
  packages/canary-bot/package-lock.json
  packages/cherry-pick-bot/package-lock.json
  packages/conventional-commit-lint/package-lock.json
  packages/cron-utils/package-lock.json
  packages/datastore-lock/package-lock.json
  packages/do-not-merge/package-lock.json
  packages/failurechecker/package-lock.json
  packages/flakybot/package-lock.json
  packages/gcf-utils/package-lock.json
  packages/generated-files-bot/package-lock.json
  packages/header-checker-lint/package-lock.json
  packages/issue-utils/package-lock.json
  packages/label-sync/package-lock.json
  packages/label-utils/package-lock.json
  packages/loadtest-bot/package-lock.json
  packages/merge-on-green/package-lock.json
  packages/object-selector/package-lock.json
  packages/owl-bot/package-lock.json
  packages/owlbot-bootstrapper/cli/package-lock.json
  packages/owlbot-bootstrapper/common-container/package-lock.json
  packages/policy/package-lock.json
  packages/release-please/package-lock.json
  packages/release-trigger/package-lock.json
  packages/repo-metadata-lint/package-lock.json
  packages/secret-rotator/package-lock.json
  packages/snippet-bot/package-lock.json
  packages/sync-repo-settings/package-lock.json
  packages/trusted-contribution/package-lock.json
Labels: bot: owl-bot bootstrapper

#4979 deps: update release-please to 15.8.0
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#4982 chore: upgrade go dependencies to fix dependabot alerts
  packages/flakybot/go.mod
  packages/flakybot/go.sum
  serverless-scheduler-proxy/go.mod
  serverless-scheduler-proxy/go.sum
Labels: bot: flakybot
