Repository googleapis/repo-automation-bots, pull requests merged in 2023-07, with the labels that each got.

#5144 deps: update releasetool to 1.16.0
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Labels: bot: release-trigger

#5152 fix(auto-approve): regex typo for Docker dependency
  packages/auto-approve/src/process-checks/sample-application-repos/docker-dependency.ts
  packages/auto-approve/test/sample-app-docker-dependency.test.ts
Labels: bot: auto approve

#5149 fix: promote draft copy-code PRs
  packages/owl-bot/src/bin/commands/commit-post-processor-update.ts
  packages/owl-bot/test/commit-post-processor-update.ts
Labels: bot: owl-bot

#5156 fix: flag to enable creating draft pull requests
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
  packages/owl-bot/src/copy-code.ts
  packages/owl-bot/src/create-pr.ts
  packages/owl-bot/src/scan-googleapis-gen-and-create-pull-requests.ts
Labels: bot: owl-bot

#5157 fix: flip flag to turn on *draft* copy code PRs
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
Labels: bot: owl-bot

#5161 Revert "fix: flip flag to turn on *draft* copy code PRs (#5157)"
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
Labels: bot: owl-bot

#5162 fix: use graphql to promote PR from draft to ready for review
  packages/owl-bot/src/bin/commands/commit-post-processor-update.ts
  packages/owl-bot/test/commit-post-processor-update.ts
Labels: bot: owl-bot

#5163 fix: flip flag to create draft prs when copying code
  packages/owl-bot/src/bin/commands/scan-googleapis-gen-and-create-pull-requests.ts
Labels: bot: owl-bot

#5165 fix: assign reviewers when PR is marked ready for review
  packages/blunderbuss/src/blunderbuss.ts
Labels: bot: blunderbuss

#5168 fix: don't revalidate bot schema when trying to execute
  packages/cherry-pick-bot/src/bot.ts
Labels: bot: cherry-pick

#5159 fix(auto-approve): always try to re-add an automerge label, even if the PR is approved
  packages/auto-approve/__snapshots__/auto-approve.test.js
  packages/auto-approve/src/auto-approve.ts
  packages/auto-approve/test/auto-approve.test.ts
Labels: bot: auto approve
