Repository googleapis/repo-automation-bots, pull requests merged in 2024-09, with the labels that each got.

#5468 fix(deps): update gcf-utils to v16
  packages/conventional-commit-lint/package-lock.json
  packages/conventional-commit-lint/package.json
  packages/conventional-commit-lint/src/utils.ts
  packages/conventional-commit-lint/test/conventional-commit-lint.ts
Labels: bot: conventional-commit-lint

#5467 fix(deps): update gcf-utils to v16
  packages/auto-approve/package-lock.json
  packages/auto-approve/package.json
Labels: bot: auto approve

#5473 fix(deps): update gcf-utils to v16
  .github/workflows/ci.yaml
  packages/do-not-merge/package-lock.json
  packages/do-not-merge/package.json
Labels: bot: do not merge

#5474 fix(deps): update gcf-utils to v16
  .github/workflows/ci.yaml
  packages/trusted-contribution/package-lock.json
  packages/trusted-contribution/package.json
  packages/trusted-contribution/test/trusted-contribution.ts
Labels: bot: trusted contributor

#5478 fix(deps): update to gcf-utils v16
  .github/workflows/ci.yaml
  packages/blunderbuss/package-lock.json
  packages/blunderbuss/package.json
Labels: bot: blunderbuss

#5479 fix(deps): update to gcf-utils v16
  .github/workflows/ci.yaml
  packages/auto-label/package-lock.json
  packages/auto-label/package.json
Labels: bot: auto label

#5481 fix(deps): update to gcf-utils v16
  .github/workflows/ci.yaml
  packages/cherry-pick-bot/package-lock.json
  packages/cherry-pick-bot/package.json
  packages/flakybot/package-lock.json
  packages/flakybot/package.json
  packages/label-sync/package-lock.json
  packages/label-sync/package.json
  packages/label-sync/test/test.ts
  packages/loadtest-bot/package-lock.json
  packages/loadtest-bot/package.json
  packages/policy/package-lock.json
  packages/policy/package.json
Labels: bot: cherry-pick

#5480 fix(deps): update to gcf-utils v16
  packages/canary-bot/cloudbuild-test.yaml
  packages/canary-bot/package-lock.json
  packages/canary-bot/package.json
Labels: bot: canary

#5485 chore(deps): update express dependencies
  packages/merge-on-green/package-lock.json
  packages/release-please/package-lock.json
  packages/secret-rotator/package-lock.json
Labels: bot: owl-bot bootstrapper

#5484 fix(deps): update to gcf-utils v16
  packages/failurechecker/package-lock.json
  packages/failurechecker/package.json
  packages/failurechecker/src/failurechecker.ts
  packages/generated-files-bot/package-lock.json
  packages/generated-files-bot/package.json
  packages/generated-files-bot/src/generated-files-bot.ts
  packages/header-checker-lint/package-lock.json
  packages/header-checker-lint/package.json
  packages/header-checker-lint/src/header-checker-lint.ts
  packages/merge-on-green/package-lock.json
  packages/merge-on-green/package.json
  packages/merge-on-green/src/merge-logic.ts
  packages/merge-on-green/src/merge-on-green.ts
  packages/owl-bot/package-lock.json
  packages/owl-bot/package.json
  packages/owlbot-bootstrapper/common-container/package-lock.json
  packages/owlbot-bootstrapper/common-container/package.json
  packages/owlbot-bootstrapper/common-container/tsconfig.json
  packages/owlbot-bootstrapper/common-container/utils.ts
  packages/release-please/package-lock.json
  packages/release-please/package.json
  packages/release-please/test/release-please.ts
  packages/release-trigger/package-lock.json
  packages/release-trigger/package.json
  packages/release-trigger/src/bot.ts
  packages/release-trigger/test/bot.ts
  packages/repo-metadata-lint/package-lock.json
  packages/repo-metadata-lint/package.json
  packages/secret-rotator/package-lock.json
  packages/secret-rotator/package.json
  packages/snippet-bot/package-lock.json
  packages/snippet-bot/package.json
  packages/snippet-bot/src/snippet-bot.ts
  packages/sync-repo-settings/package-lock.json
  packages/sync-repo-settings/package.json
  packages/sync-repo-settings/test/sync-repo-settings.ts
Labels: bot: failurechecker

#5486 deps: update google-cloud/cloudbuild to latest major version
  packages/owlbot-bootstrapper/cli/package-lock.json
  packages/owlbot-bootstrapper/cli/package.json
Labels: bot: owl-bot bootstrapper

#5489 chore(deps): update express, octokit/webhooks, and braces in owlbot-bootstrapper
  packages/owlbot-bootstrapper/app/package-lock.json
Labels: bot: owl-bot bootstrapper

#5509 fix(deps): update send package via npm audit fix
  packages/owlbot-bootstrapper/app/package-lock.json
  packages/owlbot-bootstrapper/common-container/package-lock.json
Labels: bot: owl-bot bootstrapper

#5512 feat(label-sinc): add label for PRs containing GenAI code
  packages/label-sync/src/labels.json
Labels: bot: label-sync

#5514 deps: force update debian packages when building container image
  packages/owl-bot/Dockerfile.backend
  packages/release-trigger/Dockerfile
Labels: bot: release-trigger

#5518 fix: skip task throttling for release-please app
  packages/release-please/package-lock.json
  packages/release-please/package.json
  packages/release-please/src/server.ts
Labels: bot: release please

#5519 build: deploy m-o-g function on node18
  packages/merge-on-green/cloudbuild.yaml
Labels: bot: merge on green

#5520 build: deploy all cloud functions on node 18
  packages/auto-label/cloudbuild.yaml
  packages/blunderbuss/cloudbuild.yaml
  packages/do-not-merge/cloudbuild.yaml
  packages/failurechecker/cloudbuild.yaml
  packages/flakybot/cloudbuild.yaml
  packages/generated-files-bot/cloudbuild.yaml
  packages/header-checker-lint/cloudbuild.yaml
  packages/label-sync/cloudbuild.yaml
  packages/owl-bot/cloudbuild.yaml
  packages/policy/cloudbuild.yaml
  packages/repo-metadata-lint/cloudbuild.yaml
  packages/sync-repo-settings/cloudbuild.yaml
  packages/trusted-contribution/cloudbuild.yaml
Labels: bot: auto label
