Repository googleapis/repo-automation-bots, pull requests merged in 2024-02, with the labels that each got.

#5286 fix(owl-bot): ignore non-cloud php repos
  packages/owl-bot/src/should-ignore-repo.ts
  packages/owl-bot/test/should-ignore-repo.ts
Labels: bot: owl-bot

#5287 feat: bootstrapper CLI accepts --source-cl arg and passes as env var
  packages/owlbot-bootstrapper/cli/cloudbuild-owlbot-bootstrapper.yaml
  packages/owlbot-bootstrapper/cli/run-trigger-command.ts
  packages/owlbot-bootstrapper/cli/run-trigger.ts
  packages/owlbot-bootstrapper/cli/test/run-trigger.test.ts
  packages/owlbot-bootstrapper/common-container/.eslintrc.json
  packages/owlbot-bootstrapper/common-container/__snapshots__/utils.test.js
  packages/owlbot-bootstrapper/common-container/commands/post-process.ts
  packages/owlbot-bootstrapper/common-container/commands/pre-process.ts
  packages/owlbot-bootstrapper/common-container/interfaces.ts
  packages/owlbot-bootstrapper/common-container/mono-repo.ts
  packages/owlbot-bootstrapper/common-container/post-process.ts
  packages/owlbot-bootstrapper/common-container/test/mono-repo.test.ts
  packages/owlbot-bootstrapper/common-container/test/post-process.test.ts
  packages/owlbot-bootstrapper/common-container/test/pre-process.test.ts
  packages/owlbot-bootstrapper/common-container/test/utils.test.ts
  packages/owlbot-bootstrapper/common-container/utils.ts
Labels: bot: owl-bot bootstrapper

#5289 fix: update base node image for flakybot to node:18-slim
  packages/flakybot/Dockerfile
Labels: bot: flakybot

#5293 Chore: Update base node image to v18 in Dockerfile to address OS Vulnerabilities
  packages/auto-approve/Dockerfile
  packages/auto-label/Dockerfile
  packages/blunderbuss/Dockerfile
  packages/cherry-pick-bot/Dockerfile
  packages/conventional-commit-lint/Dockerfile
  packages/do-not-merge/Dockerfile
  packages/failurechecker/Dockerfile
  packages/generate-bot/templates/Dockerfile
  packages/generated-files-bot/Dockerfile
  packages/header-checker-lint/Dockerfile
  packages/label-sync/Dockerfile
  packages/loadtest-bot/Dockerfile
  packages/merge-on-green/Dockerfile
  packages/owl-bot/Dockerfile.backend
  packages/owl-bot/Dockerfile.frontend
  packages/owlbot-bootstrapper/common-container/Dockerfile
  packages/policy/Dockerfile
  packages/release-trigger/Dockerfile.frontend
  packages/repo-metadata-lint/Dockerfile
  packages/snippet-bot/Dockerfile
  packages/snippet-bot/Dockerfile.frontend
  packages/sync-repo-settings/Dockerfile
  packages/trusted-contribution/Dockerfile
Labels: bot: flakybot

#5297 feat: require node 18 for owl-bot
  .github/workflows/ci.yaml
  packages/owl-bot/package-lock.json
  packages/owl-bot/package.json
Labels: bot: owl-bot

#5298 feat(owl-bot): link to the log access operational document
  packages/owl-bot/src/bin/commands/trigger-build.ts
  packages/owl-bot/src/core.ts
  packages/owl-bot/src/owl-bot.ts
  packages/owl-bot/test/owl-bot.ts
Labels: bot: owl-bot
