Repository googleapis/repo-automation-bots, pull requests merged in 2024-11, with the labels that each got.

#5555 fix: bazelbot to limit bazel job count
  packages/bazel-bot/docker-image/generate-googleapis-gen.sh
Labels: bot: bazel bot

#5556 fix: bazelbot insufficient memory error
  packages/bazel-bot/cloudbuild.yaml
Labels: bot: bazel bot

#5557 fix: restrict snippet bot to only be allowed to run for google org
  packages/snippet-bot/cron.yaml
  packages/snippet-bot/src/snippet-bot.ts
Labels: bot: snippet-bot, automerge

#5560 deps: update release-please to 16.14.4
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#5559 deps: update releasetool to 2.3.0
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Labels: bot: release-trigger

#5567 chore: retag canary-bot-cloud-run as canary-bot
  packages/canary-bot/cloudbuild.yaml
Labels: bot: canary

#5569 build: rename second docker push step
  packages/canary-bot/cloudbuild.yaml
Labels: bot: canary

#5570 build: deploy auto-approve with direct gcloud commands
  packages/auto-approve/cloudbuild.yaml
Labels: bot: auto approve

#5573 build: fix deployment for canary-bot and cherry-pick-bot
  packages/canary-bot/cloudbuild.yaml
  packages/cherry-pick-bot/cloudbuild.yaml
Labels: bot: canary

#5574 build: publish owlbot directly with gcloud
  packages/owl-bot/cloudbuild.yaml
  scripts/cron-deploy.sh
  scripts/publish-cloud-run.sh
  scripts/publish-function.sh
  scripts/update-dependencies.sh
Labels: bot: owl-bot

#5577 chore(canary-bot): remove unnecessary cross-spawn from npm
  packages/canary-bot/Dockerfile
Labels: bot: canary

#5579 feat: use datastore-lock in issue handler
  packages/canary-bot/package-lock.json
  packages/canary-bot/package.json
  packages/canary-bot/src/canary-bot.ts
  packages/canary-bot/test/test.ts
Labels: bot: canary

#5584 feat: allow running canary-bot frontend for both GCF and Cloud Run backends
  packages/canary-bot/package-lock.json
  packages/canary-bot/package.json
  packages/canary-bot/src/server.ts
Labels: bot: canary
