Repository googleapis/repo-automation-bots, pull requests merged in 2024-06, with the labels that each got.

#5231 fix(merge-on-green)!: remove restrictions for checking reviews for merge on green
  packages/merge-on-green/src/merge-logic.ts
  packages/merge-on-green/test/merge-logic.ts
  packages/merge-on-green/test/merge-on-green.ts
Labels: bot: merge on green

#5328 build: upgrade owlbot-cli base image to node:18-alpine
  packages/owl-bot/Dockerfile
Labels: bot: owl-bot

#5330 build(auto-approve): test and run against node18
  .github/workflows/ci.yaml
  packages/auto-approve/cloudbuild.yaml
  packages/auto-approve/package-lock.json
  packages/auto-approve/package.json
Labels: bot: auto approve

#5329 build: update conventional-commit-lint to node18
  .github/workflows/ci.yaml
  packages/conventional-commit-lint/cloudbuild.yaml
  packages/conventional-commit-lint/package-lock.json
  packages/conventional-commit-lint/package.json
  packages/conventional-commit-lint/src/utils.ts
Labels: bot: conventional-commit-lint

#5079 feat: allow overriding allowedAuthorAssociations
  packages/cherry-pick-bot/.eslintrc.json
  packages/cherry-pick-bot/__snapshots__/bot.js
  packages/cherry-pick-bot/src/bot.ts
  packages/cherry-pick-bot/src/config-schema.json
  packages/cherry-pick-bot/test/bot.ts
  packages/cherry-pick-bot/test/fixtures/config/allowed-authors.yml
  packages/cherry-pick-bot/test/fixtures/config/broken-allowed-authors.yml
Labels: bot: cherry-pick

#5335 deps: update release-please to 16.12.0
  packages/release-please/package-lock.json
  packages/release-please/test.out
Labels: bot: release please

#5337 deps: update with npm audit fix
  packages/release-trigger/container-test.yaml
  packages/release-trigger/package-lock.json
Labels: bot: release-trigger

#5338 feat: increase MOG timeout
  packages/merge-on-green/src/merge-on-green.ts
Labels: bot: merge on green

#5333 fix: [auto-approve] add event listener for pull request dismissed
  packages/auto-approve/__snapshots__/auto-approve.test.js
  packages/auto-approve/src/auto-approve.ts
  packages/auto-approve/test/fixtures/events/pull_request_opened.json
  packages/auto-approve/test/fixtures/events/pull_request_opened_fork.json
  packages/auto-approve/test/fixtures/events/pull_request_opened_right_author_and_title.json
  packages/auto-approve/test/fixtures/events/pull_request_opened_right_author_and_title_file_count.json
  packages/auto-approve/test/fixtures/events/pull_request_opened_right_author_and_title_partial_schema.json
  packages/auto-approve/test/fixtures/events/pull_request_opened_right_author_wrong_title.json
  packages/auto-approve/test/fixtures/events/pull_request_opened_special_validation.json
  packages/auto-approve/test/fixtures/events/pull_request_opened_special_validation_dependency_update.json
  packages/auto-approve/test/fixtures/events/pull_request_opened_special_validation_dependency_update_java.json
  packages/auto-approve/test/fixtures/events/pull_request_release_please.json
Labels: bot: auto approve

#5339 fix(owl-bot): check author of PR for regenerate textbox
  packages/owl-bot/src/owl-bot.ts
  packages/owl-bot/test/owl-bot.ts
Labels: automerge, bot: owl-bot

#5344 fix(owl-bot): add allowlist for configstore registration
  packages/owl-bot/src/owl-bot.ts
  packages/owl-bot/test/owl-bot.ts
Labels: bot: owl-bot

#5347 deps: update release-trigger deps
  packages/release-trigger/package-lock.json
Labels: bot: release-trigger

#5348 feat: [owl-bot] allow specifying token directly when updating lock branch
  packages/owl-bot/cloud-build/force-update-lock-branch.yaml
  packages/owl-bot/cloud-build/update-lock-branch.yaml
  packages/owl-bot/src/bin/commands/maybe-create-pull-request-for-lock-update.ts
  packages/owl-bot/src/bin/commands/open-pr.ts
  packages/owl-bot/src/handlers.ts
  packages/owl-bot/src/octokit-util.ts
  packages/owl-bot/src/owl-bot.ts
  packages/owl-bot/test/handlers.ts
Labels: bot: owl-bot

#5345 build: switch app id and installation
  packages/bazel-bot/cloudbuild.yaml
Labels: bot: bazel bot

#5352 fix: use logs bucket for bazel-bot builds
  packages/bazel-bot/cloudbuild.yaml
Labels: bot: bazel bot

#5353 feat(owl-bot): add logs bucket for scan PR workflow
  packages/owl-bot/cloud-build/scan-googleapis-gen-and-create-pull-requests.yaml
Labels: bot: owl-bot

#5356 feat(owl-bot): add default retry policy for octokit usage
  packages/owl-bot/package-lock.json
  packages/owl-bot/package.json
  packages/owl-bot/src/core.ts
Labels: bot: owl-bot

#5360 fix(secret-rotator): upgade to node 18
  .github/workflows/ci.yaml
  packages/secret-rotator/Dockerfile
  packages/secret-rotator/package-lock.json
  packages/secret-rotator/package.json
Labels: automerge, bot: secret-rotator

#5361 feat(owl-bot): add logs bucket for update lock workflow
  packages/owl-bot/cloud-build/force-update-lock-branch.yaml
  packages/owl-bot/cloud-build/update-lock-branch.yaml
Labels: bot: owl-bot
