Repository googleapis/repo-automation-bots, pull requests merged in 2024-12, with the labels that each got.

#5587 feat(owlbot): skip running owlbot on PRs from forks
  packages/owl-bot/src/owl-bot.ts
  packages/owl-bot/test/owl-bot.ts
Labels: bot: owl-bot

#5595 build: update gcf-utils to 16.2.1 and use environment defaults
  packages/cherry-pick-bot/package-lock.json
  packages/cherry-pick-bot/package.json
  packages/cherry-pick-bot/src/server.ts
Labels: bot: cherry-pick

#5596 deps: update gcf-utils to 16.2.1 and use env defaults
  packages/auto-approve/package-lock.json
  packages/auto-approve/package.json
  packages/auto-approve/src/server.ts
Labels: bot: auto approve

#5597 deps: upgrade gcf-based bots to gcf-utils 16.2.1
  packages/auto-label/package-lock.json
  packages/auto-label/package.json
  packages/auto-label/src/server.ts
  packages/blunderbuss/package-lock.json
  packages/blunderbuss/package.json
  packages/blunderbuss/src/server.ts
  packages/conventional-commit-lint/package-lock.json
  packages/conventional-commit-lint/package.json
  packages/conventional-commit-lint/src/server.ts
  packages/do-not-merge/package-lock.json
  packages/do-not-merge/package.json
  packages/do-not-merge/src/server.ts
  packages/failurechecker/package-lock.json
  packages/failurechecker/package.json
  packages/failurechecker/src/server.ts
  packages/flakybot/package-lock.json
  packages/flakybot/package.json
  packages/flakybot/src/server.ts
  packages/generated-files-bot/package-lock.json
  packages/generated-files-bot/package.json
  packages/generated-files-bot/src/server.ts
  packages/header-checker-lint/package-lock.json
  packages/header-checker-lint/package.json
  packages/header-checker-lint/src/server.ts
  packages/label-sync/package-lock.json
  packages/label-sync/package.json
  packages/label-sync/src/server.ts
  packages/merge-on-green/package-lock.json
  packages/merge-on-green/package.json
  packages/merge-on-green/src/server.ts
  packages/repo-metadata-lint/package-lock.json
  packages/repo-metadata-lint/package.json
  packages/repo-metadata-lint/src/server.ts
  packages/sync-repo-settings/package-lock.json
  packages/sync-repo-settings/package.json
  packages/sync-repo-settings/src/server.ts
  packages/trusted-contribution/package-lock.json
  packages/trusted-contribution/package.json
  packages/trusted-contribution/src/server.ts
Labels: bot: auto label

#5599 deps: update gcf-utils to 16.2.1
  packages/owl-bot/package-lock.json
  packages/owl-bot/package.json
  packages/owl-bot/src/server-backend.ts
  packages/owl-bot/src/server-frontend.ts
  packages/release-please/package-lock.json
  packages/release-please/package.json
  packages/release-please/src/server.ts
  packages/release-trigger/package-lock.json
  packages/release-trigger/package.json
  packages/release-trigger/src/server-frontend.ts
  packages/release-trigger/src/server.ts
  packages/snippet-bot/package-lock.json
  packages/snippet-bot/package.json
Labels: bot: owl-bot

#5611 fix: release-trigger: use slim base image
  packages/release-trigger/Dockerfile
Labels: bot: release-trigger

#5613 feat(release-trigger): Add GoogleCloudDataproc to allowlist
  packages/release-trigger/src/release-trigger.ts
Labels: bot: release-trigger

#5618 chore: update path-to-regex library to 0.1.12 to fix CVE-2024-45296
  packages/owlbot-bootstrapper/app/package-lock.json
  packages/owlbot-bootstrapper/app/package.json
  packages/owlbot-bootstrapper/common-container/package-lock.json
  packages/owlbot-bootstrapper/common-container/package.json
Labels: bot: owl-bot bootstrapper

#5617 fix: restrict snippet bot to only be allowed to run for google org for all actions
  packages/snippet-bot/__snapshots__/snippet-bot.js
  packages/snippet-bot/src/snippet-bot.ts
  packages/snippet-bot/test/fixtures/blob_no_region_tags.json
  packages/snippet-bot/test/fixtures/failure_blob.json
  packages/snippet-bot/test/fixtures/googleapis-python-docs-samples-abcde.tar.gz
  packages/snippet-bot/test/fixtures/issue_event.json
  packages/snippet-bot/test/fixtures/issue_event_no_scan.json
  packages/snippet-bot/test/fixtures/pr_event.json
  packages/snippet-bot/test/fixtures/pr_event_closed.json
  packages/snippet-bot/test/fixtures/pr_event_comment_edited.json
  packages/snippet-bot/test/fixtures/pr_event_comment_edited_irelevant.json
  packages/snippet-bot/test/fixtures/pr_event_draft.json
  packages/snippet-bot/test/fixtures/pr_event_invalid_repo.json
  packages/snippet-bot/test/fixtures/pr_event_label_added.json
  packages/snippet-bot/test/fixtures/pr_event_label_ignored.json
  packages/snippet-bot/test/fixtures/pr_event_no_prefix_req.json
  packages/snippet-bot/test/fixtures/pr_event_null_head.json
  packages/snippet-bot/test/fixtures/pr_response.json
  packages/snippet-bot/test/fixtures/snippets-frozen.json
  packages/snippet-bot/test/fixtures/snippets.json
  packages/snippet-bot/test/snippet-bot.ts
Labels: bot: snippet-bot

#5622 feat(conventional-commit-lint): add second check for mismatched PR title
  packages/conventional-commit-lint/__snapshots__/conventional-commit-lint.js
  packages/conventional-commit-lint/src/utils.ts
  packages/conventional-commit-lint/test/conventional-commit-lint.ts
Labels: bot: conventional-commit-lint

#5624 fix: PR title mismatch check needs name field
  packages/conventional-commit-lint/__snapshots__/conventional-commit-lint.js
  packages/conventional-commit-lint/src/utils.ts
Labels: bot: conventional-commit-lint

#5627 fix: allowlist google map repos for snippet bot
  packages/snippet-bot/src/snippet-bot.ts
Labels: bot: snippet-bot, automerge

#5630 build: remove unnecessary cross-spawn dependencies from docker images
  packages/owl-bot/Dockerfile
  packages/owl-bot/Dockerfile.backend
  packages/owl-bot/Dockerfile.frontend
  packages/release-trigger/Dockerfile
  packages/release-trigger/Dockerfile.frontend
  packages/snippet-bot/Dockerfile.frontend
Labels: bot: owl-bot

#5631 build: specify logs bucket for GCF-based bots
  packages/auto-approve/cloudbuild.yaml
  packages/auto-label/cloudbuild.yaml
  packages/blunderbuss/cloudbuild.yaml
  packages/conventional-commit-lint/cloudbuild.yaml
  packages/do-not-merge/cloudbuild.yaml
  packages/failurechecker/cloudbuild.yaml
  packages/generated-files-bot/cloudbuild.yaml
  packages/header-checker-lint/cloudbuild.yaml
  packages/label-sync/cloudbuild.yaml
  packages/merge-on-green/cloudbuild.yaml
  packages/repo-metadata-lint/cloudbuild.yaml
  packages/sync-repo-settings/cloudbuild.yaml
  packages/trusted-contribution/cloudbuild.yaml
Labels: bot: merge on green

#5629 feat(deps): upgrade release-please to 16.15.0 adding new config attribute
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#5633 feat(snippet-bot): add android org to allowlist
  packages/snippet-bot/src/snippet-bot.ts
Labels: bot: snippet-bot

#5642 build: configure logs bucket for custom service accounts
  packages/cherry-pick-bot/cloudbuild-test.yaml
  packages/cherry-pick-bot/cloudbuild.yaml
  packages/flakybot/cloudbuild.yaml
  packages/release-please/cloudbuild.yaml
  packages/release-trigger/cloudbuild-test.yaml
  packages/release-trigger/cloudbuild.yaml
  packages/snippet-bot/cloudbuild-test.yaml
  packages/snippet-bot/cloudbuild.yaml
Labels: bot: cherry-pick
