Repository googleapis/repo-automation-bots, pull requests merged in 2024-05, with the labels that each got.

#5319 fix(conventional-commit-lint): handle automerge: exact
  packages/conventional-commit-lint/__snapshots__/conventional-commit-lint.js
  packages/conventional-commit-lint/src/utils.ts
  packages/conventional-commit-lint/test/conventional-commit-lint.ts
  packages/conventional-commit-lint/test/fixtures/pull_request_automerge_exact.json
Labels: bot: conventional-commit-lint

#5318 deps: update releasetool to v2.0.1
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Labels: bot: release-trigger

#5324 feat: skip check for post-processor on merge_group.checks_requested
  packages/owl-bot/src/owl-bot.ts
  packages/owl-bot/test/owl-bot.ts
Labels: bot: owl-bot
