Repository googleapis/repo-automation-bots, pull requests merged in 2025-02, with the labels that each got.

#5651 deps: update releasetool to 2.5.0
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Labels: bot: release-trigger

#5652 deps: release-please dependency upgrade
  packages/release-please/package-lock.json
  packages/release-please/package.json
Labels: bot: release please

#5659 fix: Upgrade dependencies in packages/owlbot-bootstrapper/cli
  packages/owlbot-bootstrapper/cli/package-lock.json
Labels: bot: owl-bot bootstrapper

#5662 fix: upgrade dependencies in packages/conventional-commit-lint
  packages/conventional-commit-lint/package-lock.json
Labels: bot: conventional-commit-lint

#5667 deps: update release-please jsonpath-plus to 10.3.0
  packages/release-please/package-lock.json
Labels: bot: release please

#5677 deps: update releasetool to 2.6.0
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Labels: bot: release-trigger
