Repository googleapis/repo-automation-bots, pull requests merged in 2025-03, with the labels that each got.

#5683 feat: tagPullRequestNumber option to tag release SHA
  packages/release-please/package-lock.json
  packages/release-please/package.json
  packages/release-please/src/config-constants.ts
  packages/release-please/src/release-please.ts
  packages/release-please/src/runner.ts
  packages/release-please/test/fixtures/config/manifest_tag_pr_number.yml
  packages/release-please/test/release-please.ts
  packages/release-please/test/runner.ts
Labels: bot: release please

#5693 docs(sync-repo-settings): fix typo in restrictsPushes
  packages/sync-repo-settings/README.md
Labels: bot: sync-repo-settings

#5336 chore: remove extraneous file
  packages/release-please/test.out
Labels: bot: release please

#5699 fix(canary-bot): update gcf-utils to v17
  packages/canary-bot/package-lock.json
  packages/canary-bot/package.json
  packages/canary-bot/test/test.ts
  packages/canary-bot/tsconfig.json
Labels: bot: canary

#5705 deps: update gcf-utils to v17
  packages/flakybot/package-lock.json
  packages/flakybot/package.json
  packages/flakybot/test/flakybot.test.ts
  packages/flakybot/tsconfig.json
Labels: bot: flakybot

#5707 deps(header-checker-lint): Updating gcf-utils and bot-config-utils
  packages/header-checker-lint/package-lock.json
  packages/header-checker-lint/package.json
  packages/header-checker-lint/test/header-checker-lint.ts
Labels: bot: license header

#5710 deps(blunderbuss): update gcf-utils to v17
  packages/blunderbuss/package-lock.json
  packages/blunderbuss/package.json
  packages/blunderbuss/test/blunderbuss.ts
  packages/blunderbuss/tsconfig.json
Labels: bot: blunderbuss

#5713 deps(conventional-commit-lint): update gcf-utils to v17
  packages/conventional-commit-lint/package-lock.json
  packages/conventional-commit-lint/package.json
  packages/conventional-commit-lint/test/conventional-commit-lint.ts
  packages/conventional-commit-lint/tsconfig.json
Labels: bot: conventional-commit-lint

#5706 deps(auto-approve): update gcf-utils to v17
  packages/auto-approve/package-lock.json
  packages/auto-approve/package.json
  packages/auto-approve/src/auto-approve.ts
  packages/auto-approve/test/additional-validation-for-versioning.test.ts
  packages/auto-approve/test/auto-approve.test.ts
  packages/auto-approve/test/check-config.test.ts
  packages/auto-approve/test/check-pr-V2.test.ts
  packages/auto-approve/test/check-pr.test.ts
  packages/auto-approve/test/discovery-doc-update.test.ts
  packages/auto-approve/test/get-pr-info.test.ts
  packages/auto-approve/test/go-apiary-codegen.test.ts
  packages/auto-approve/test/java-apiary-codegen.test.ts
  packages/auto-approve/test/java-dependency.test.ts
  packages/auto-approve/test/java-sample-app-dependency.test.ts
  packages/auto-approve/test/node-dependency.test.ts
  packages/auto-approve/test/node-generator.test.ts
  packages/auto-approve/test/node-owlbot-template-changes.test.ts
  packages/auto-approve/test/node-owlbot.test.ts
  packages/auto-approve/test/node-release.test.ts
  packages/auto-approve/test/owlbot-api-changes.test.ts
  packages/auto-approve/test/owlbot-template-changes.test.ts
  packages/auto-approve/test/php-apairy-codegen.test.ts
  packages/auto-approve/test/python-dependency.test.ts
  packages/auto-approve/test/python-sample-dependency.test.ts
  packages/auto-approve/test/regenerate-readme.test.ts
  packages/auto-approve/test/ruby-apiary-codegen.test.ts
  packages/auto-approve/test/sample-app-docker-dependency.test.ts
  packages/auto-approve/test/sample-app-go-dependency.test.ts
  packages/auto-approve/test/sample-app-python-dependency.test.ts
  packages/auto-approve/test/update-discovery-artifacts.test.ts
  packages/auto-approve/tsconfig.json
Labels: bot: auto approve

#5715 deps(release-please): update release-please to v17
  packages/release-please/package-lock.json
  packages/release-please/package.json
  packages/release-please/src/release-please.ts
  packages/release-please/test/compatibility-test.ts
  packages/release-please/test/release-please.ts
  packages/release-please/test/runner.ts
  packages/release-please/tsconfig.json
Labels: bot: release please

#5718 deps(repo-metadata-lint): update gcf-utils to v17
  packages/repo-metadata-lint/package-lock.json
  packages/repo-metadata-lint/package.json
  packages/repo-metadata-lint/test/issue-opener.ts
  packages/repo-metadata-lint/test/repo-metadata-lint.ts
  packages/repo-metadata-lint/tsconfig.json
Labels: bot: repo-metadata-lint

#5719 deps(trusted-contribution): update gcf-utils to v17
  packages/trusted-contribution/package-lock.json
  packages/trusted-contribution/package.json
  packages/trusted-contribution/test/trusted-contribution.ts
  packages/trusted-contribution/test/validation-test.ts
  packages/trusted-contribution/tsconfig.json
Labels: bot: trusted contributor

#5725 chore(snippetbot): fix octokit vulnerabilities
  packages/snippet-bot/package-lock.json
  packages/snippet-bot/package.json
  packages/snippet-bot/src/snippet-bot.ts
  packages/snippet-bot/test/region-tag-parser.ts
  packages/snippet-bot/test/service-configs.ts
  packages/snippet-bot/test/snippet-bot.ts
  packages/snippet-bot/test/utils.ts
Labels: bot: snippet-bot

#5727 deps(owlbot-bootstrapper): update gcf-utils to v17
  packages/owlbot-bootstrapper/app/.c8rc.json
  packages/owlbot-bootstrapper/app/.eslintignore
  packages/owlbot-bootstrapper/app/.eslintrc.json
  packages/owlbot-bootstrapper/app/.gitignore
  packages/owlbot-bootstrapper/app/.prettierignore
  packages/owlbot-bootstrapper/app/.prettierrc copy.js
  packages/owlbot-bootstrapper/app/.prettierrc.js
  packages/owlbot-bootstrapper/app/app.ts
  packages/owlbot-bootstrapper/app/index.d.ts
  packages/owlbot-bootstrapper/app/owlbot-bootstrapper.ts
  packages/owlbot-bootstrapper/app/package-lock.json
  packages/owlbot-bootstrapper/app/package.json
  packages/owlbot-bootstrapper/app/test/test.ts
  packages/owlbot-bootstrapper/app/tsconfig.json
  packages/owlbot-bootstrapper/common-container/package-lock.json
  packages/owlbot-bootstrapper/common-container/package.json
  packages/owlbot-bootstrapper/common-container/test/mono-repo.test.ts
  packages/owlbot-bootstrapper/common-container/test/post-process.test.ts
  packages/owlbot-bootstrapper/common-container/test/pre-process.test.ts
  packages/owlbot-bootstrapper/common-container/test/utils.test.ts
  packages/owlbot-bootstrapper/package.json
Labels: bot: owl-bot bootstrapper

#5728 chore(auto-label): update to latest util dependencies to remove octokit security vulnerability
  packages/auto-label/package-lock.json
  packages/auto-label/package.json
  packages/auto-label/src/auto-label.ts
  packages/auto-label/test/auto-label.ts
  packages/auto-label/test/config-compatibility.ts
  packages/auto-label/test/language-path-tests.ts
Labels: bot: auto label

#5731 chore: upgrade deps for generated-files-bot
  packages/generated-files-bot/package-lock.json
  packages/generated-files-bot/package.json
  packages/generated-files-bot/test/generated-files-bot.ts
Labels: bot: generated-files-bot

#5734 chore: upgrade deps for release-trigger
  packages/release-trigger/package-lock.json
  packages/release-trigger/package.json
  packages/release-trigger/test/bot.ts
  packages/release-trigger/test/release-trigger.ts
Labels: bot: release-trigger

#5735 chore: upgrade deps for sync-repo-settings
  packages/sync-repo-settings/package-lock.json
  packages/sync-repo-settings/package.json
  packages/sync-repo-settings/src/cli.ts
  packages/sync-repo-settings/test/compatibility-test.ts
  packages/sync-repo-settings/test/sync-repo-settings.ts
  packages/sync-repo-settings/test/test.bot.ts
Labels: bot: sync-repo-settings

#5736 debug(release-please): add configuration options to structured logging
  packages/release-please/src/release-please.ts
Labels: bot: release please

#5737 fix(release-please): distributed lock key should use config name
  packages/release-please/src/release-please.ts
Labels: bot: release please

#5729 deps(owlbot): update gcf-utils to v17
  packages/owl-bot/package-lock.json
  packages/owl-bot/package.json
  packages/owl-bot/src/bin/commands/copy-code.ts
  packages/owl-bot/src/bin/commands/validate.ts
  packages/owl-bot/src/core.ts
  packages/owl-bot/src/octokit-util.ts
  packages/owl-bot/src/owl-bot.ts
  packages/owl-bot/test/commit-post-processor-update.ts
  packages/owl-bot/test/owl-bot.ts
  packages/owl-bot/test/owl-core.ts
  packages/owl-bot/tsconfig.json
Labels: bot: owl-bot

#5739 chore: upgrade deps for failurechecker
  packages/failurechecker/package-lock.json
  packages/failurechecker/package.json
  packages/failurechecker/test/failurechecker.ts
Labels: bot: failurechecker

#5744 chore(owlbot): update code-suggester to latest to remove octokit vulnerability
  packages/owl-bot/package-lock.json
  packages/owl-bot/package.json
Labels: bot: owl-bot

#5743 chore(owlbot-bootstrapper): update gcf-util to latest to remove octokit vulnerability
  packages/owlbot-bootstrapper/common-container/package-lock.json
  packages/owlbot-bootstrapper/common-container/package.json
Labels: bot: owl-bot bootstrapper

#5746 docs: clarify that release-trigger.yml must exist to enable
  packages/release-trigger/README.md
Labels: bot: release-trigger
