Repository googleapis/repo-automation-bots, pull requests merged in 2025-06, with the labels that each got.

#5778 feat: add ability to block requests to release-please by repo-owner
  packages/release-please/src/release-please.ts
Labels: bot: release please

#5783 feat: add 6s sleep in trusted contribution bot before adding gcbrun
  packages/trusted-contribution/src/trusted-contribution.ts
  packages/trusted-contribution/test/trusted-contribution.ts
Labels: bot: trusted contributor

#5781 build: Use MOSS-approved base image for owl-bot-backend
  packages/owl-bot/Dockerfile.backend
  packages/owl-bot/cloudbuild-test.yaml
Labels: bot: owl-bot

#5785 build: update base image and upgrade dependencies
  packages/auto-approve/Dockerfile
  packages/auto-approve/cloudbuild-test.yaml
Labels: bot: auto approve

#5791 fix: use bazelisk instead of bazel CLI
  packages/bazel-bot/docker-image/generate-googleapis-gen.sh
Labels: bot: bazel bot

#5790 build(cherry-pick-bot): update dependencies and base image
  packages/cherry-pick-bot/Dockerfile
Labels: bot: cherry-pick

#5796 revert: build: update python to 3.13, update base image
  packages/release-trigger/Dockerfile
  packages/release-trigger/Dockerfile.frontend
  packages/release-trigger/container-test.yaml
Labels: bot: release-trigger

#5797 build(deps): update base image, python, cryptography, cffi
  packages/release-trigger/Dockerfile
  packages/release-trigger/Dockerfile.frontend
  packages/release-trigger/container-test.yaml
  packages/release-trigger/requirements.in
  packages/release-trigger/requirements.txt
Labels: bot: release-trigger

#5835 build(deps): upgrade python 3.13.1 -> 3.13.5
  packages/release-trigger/Dockerfile
Labels: bot: release-trigger

#5834 build: use marketplace.gcr.io/google/debian12:latest
  packages/header-checker-lint/Dockerfile
  packages/header-checker-lint/cloudbuild-test.yaml
  packages/label-sync/Dockerfile
  packages/label-sync/cloudbuild-test.yaml
  packages/merge-on-green/Dockerfile
  packages/merge-on-green/cloudbuild-test.yaml
  packages/repo-metadata-lint/Dockerfile
  packages/repo-metadata-lint/cloudbuild-test.yaml
  packages/sync-repo-settings/Dockerfile
  packages/sync-repo-settings/cloudbuild-test.yaml
Labels: bot: license header
