Repository googleapis/repo-automation-bots, pull requests merged in 2025-08, with the labels that each got.

#5880 chore(owlbot-bootstrapper): regenerate package-lock.json
  packages/owlbot-bootstrapper/cli/package-lock.json
  packages/owlbot-bootstrapper/package-lock.json
Labels: bot: owl-bot bootstrapper

#5884 deps: update oauth2 package
  packages/flakybot/go.mod
  packages/flakybot/go.sum
Labels: bot: flakybot

#5914 build: update flakybot Dockerfile to use MOSS recommended image
  packages/flakybot/Dockerfile
Labels: bot: flakybot

#5922 chore: update handlers.ts
  packages/owl-bot/src/handlers.ts
  packages/owl-bot/test/handlers.ts
Labels: bot: owl-bot

#5927 chore: update version of tmp used for security vulnerability
  packages/owlbot-bootstrapper/cli/package-lock.json
  packages/owlbot-bootstrapper/cli/package.json
  packages/owlbot-bootstrapper/common-container/package-lock.json
  packages/owlbot-bootstrapper/common-container/package.json
  packages/trusted-contribution/package-lock.json
  packages/trusted-contribution/package.json
Labels: bot: trusted contributor
